<ui:composition template="/WEB-INF/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:insert name="title">Default dashboard page title</ui:insert>
    <ui:define name="content">
        <div id="wrapper">
            <ui:insert name="navigation"></ui:insert>
            <!-- Dashboard content layout -->
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            <ui:insert name="dasboard-page-title">Default dashboard page title</ui:insert>
                        </h1>
                    </div>
                </div>
                <div id="content">
                    <ui:insert name="dashboard-page-content">
                        Must be extended following the Bootstrap grid system
                    </ui:insert>
                </div>
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->
        <h:outputScript name="js/vendor/jquery-1.11.0.min.js"/>
        <h:outputScript name="js/plugins/metisMenu/metisMenu.min.js"/>
        <h:outputScript name="js/sb-admin-2.js"/>
    </ui:define>
</ui:composition>


