<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition>
        <!-- Navigation -->
        <div class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <span class="navbar-brand">Καλώς ήρθες, #{userStateBean.username}!</span>
            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <h:link styleClass="alert-warning" outcome="/index">
                                <i class="fa fa-arrow-circle-left"/>&#160;
                                Επιστροφή στην αρχική
                            </h:link>
                        </li>
                        <li>
                            <a href="/admin/home.xhtml"><i class="fa fa-dashboard fa-fw"/> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-users fa-fw"/> Χρήστες<span class="fa arrow"/></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/admin/users.xhtml">Εγεγραμμένοι χρήστες</a>
                                </li>
                                <li>
                                    <a href="">Αιτήσεις εν αναμονή</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cog fa-fw"></i> Αλγόριθμοι προτάσεων<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/admin/algorithms.xhtml">Επισκόπηση αλγορίθμων</a>
                                </li>
                                <li>
                                    <a href="morris.html">Προσθήκη</a>
                                </li>
                                <li>
                                    <a href="morris.html">Επεξεργασία</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </div>
    </ui:composition>
</html>