@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600&subset=latin,greek);
.color-veraman {
  color: #046380; }

.color-darkVeraman {
  color: #105B63; }

.color-creme {
  color: #FFFAD5; }

.color-orangeYellow {
  color: #FFD34E; }

.color-orangeBrown {
  color: #DB9E36; }

.color-darkOrange {
  color: #BD4932; }

.color-materialBrown {
  color: #795548; }

.color-materialTeal {
  color: #009688; }

.color-materialGreen {
  color: #72D572; }

.color-materialGreenLight {
  color: #8bc34a; }

.color-materialOrange {
  color: #ef6c00; }

.color-materialRed {
  color: #E51C23; }

.color-materialBrownLight {
  color: #a1887f; }
  .color-materialBrownLight:hover {
    color: #b7a39c;
    text-decoration: none; }

.color-materialBlueGrey {
  color: #607d8b; }

.color-materialPaleTeal {
  color: #e0f2f1; }

#access-denied-page {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #EEEEEE; }
  #access-denied-page #denied-alert {
    margin-top: 2em; }
    #access-denied-page #denied-alert #denied-warning-icon {
      padding-top: .5em; }
      @media (max-width: 767px) {
        #access-denied-page #denied-alert #denied-warning-icon {
          font-size: 2.3em; } }
      @media (min-width: 768px) {
        #access-denied-page #denied-alert #denied-warning-icon {
          font-size: 2.5em; } }
      @media (min-width: 992px) {
        #access-denied-page #denied-alert #denied-warning-icon {
          font-size: 2.8em; } }
      @media (min-width: 1200px) {
        #access-denied-page #denied-alert #denied-warning-icon {
          font-size: 4em; } }
    #access-denied-page #denied-alert #denied-msg {
      padding-left: 1%;
      padding-bottom: 2em; }
      @media (max-width: 767px) {
        #access-denied-page #denied-alert #denied-msg {
          font-size: 1em; } }
      @media (min-width: 768px) {
        #access-denied-page #denied-alert #denied-msg {
          font-size: 1.3em; } }
      @media (min-width: 992px) {
        #access-denied-page #denied-alert #denied-msg {
          font-size: 1.5em; } }
      @media (min-width: 1200px) {
        #access-denied-page #denied-alert #denied-msg {
          font-size: 1.6em; } }

#not-yet-page {
  padding-top: 1.6em;
  padding-bottom: 2em; }

.color-veraman {
  color: #046380; }

.color-darkVeraman {
  color: #105B63; }

.color-creme {
  color: #FFFAD5; }

.color-orangeYellow {
  color: #FFD34E; }

.color-orangeBrown {
  color: #DB9E36; }

.color-darkOrange {
  color: #BD4932; }

.color-materialBrown {
  color: #795548; }

.color-materialTeal {
  color: #009688; }

.color-materialGreen {
  color: #72D572; }

.color-materialGreenLight {
  color: #8bc34a; }

.color-materialOrange {
  color: #ef6c00; }

.color-materialRed {
  color: #E51C23; }

.color-materialBrownLight {
  color: #a1887f; }
  .color-materialBrownLight:hover {
    color: #b7a39c;
    text-decoration: none; }

.color-materialBlueGrey {
  color: #607d8b; }

.color-materialPaleTeal {
  color: #e0f2f1; }

.admin-link-text {
  color: #009688; }

.admin-datatable > thead > tr > th {
  background-image: none;
  border-bottom: 1px #009688 solid;
  cursor: default; }

@media (max-width: 767px) {
  #offers-navbar-header .return-to-home-btn {
    margin-top: 6px; } }
@media (min-width: 768px) {
  #offers-navbar-header .return-to-home-btn {
    margin-top: 12px; } }
@media (min-width: 992px) {
  #offers-navbar-header .return-to-home-btn {
    margin-top: 12px; } }
@media (min-width: 1200px) {
  #offers-navbar-header .return-to-home-btn {
    margin-top: 12px; } }

#salesman-navbar i {
  position: relative;
  top: 4px; }

.my-bigger-breadcrumb {
  background-color: rgba(224, 242, 241, 0.7); }
  @media (max-width: 767px) {
    .my-bigger-breadcrumb {
      font-size: 1.2em; } }
  @media (min-width: 768px) {
    .my-bigger-breadcrumb {
      font-size: 1.3em; } }
  @media (min-width: 992px) {
    .my-bigger-breadcrumb {
      font-size: 1.4em; } }
  @media (min-width: 1200px) {
    .my-bigger-breadcrumb {
      font-size: 1.4em; } }

.house-panel-teal .ui-panel-titlebar {
  background-color: #009688;
  color: #fcfcfc; }

.house-panel-brown .ui-panel-titlebar {
  background-color: #795548;
  color: #fcfcfc; }

@media (max-width: 767px) {
  #house-profile {
    font-size: 1.2em; } }
@media (min-width: 768px) {
  #house-profile {
    font-size: 1.2em; } }
@media (min-width: 992px) {
  #house-profile {
    font-size: 1.3em; } }
@media (min-width: 1200px) {
  #house-profile {
    font-size: 1.3em; } }

.house-profile-title {
  color: #795548; }
  @media (max-width: 767px) {
    .house-profile-title {
      font-size: 1.2em; } }
  @media (min-width: 768px) {
    .house-profile-title {
      font-size: 1.2em; } }
  @media (min-width: 992px) {
    .house-profile-title {
      font-size: 1.3em; } }
  @media (min-width: 1200px) {
    .house-profile-title {
      font-size: 1.4em; } }

#house-type-selector .ui-inplace-editor {
  margin-left: 0.7em;
  position: relative;
  top: -9px; }

#delete-house-msg .ui-messages-error-detail {
  display: inline-block;
  margin-top: 5px; }

.house-panel {
  font-family: 'Open Sans', sans-serif !important; }
  .house-panel .ui-panel-titlebar > .ui-panel-title label {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    font-size: 1.2em; }
  .house-panel .ui-panel-titlebar > .ui-panel-title .unread-messages-msg {
    font-weight: 400 !important;
    font-size: 1.3em;
    color: bisque;
    padding: 0 4px;
    margin: 14px 0 0; }

.color-veraman {
  color: #046380; }

.color-darkVeraman {
  color: #105B63; }

.color-creme {
  color: #FFFAD5; }

.color-orangeYellow {
  color: #FFD34E; }

.color-orangeBrown {
  color: #DB9E36; }

.color-darkOrange {
  color: #BD4932; }

.color-materialBrown {
  color: #795548; }

.color-materialTeal {
  color: #009688; }

.color-materialGreen {
  color: #72D572; }

.color-materialGreenLight {
  color: #8bc34a; }

.color-materialOrange {
  color: #ef6c00; }

.color-materialRed {
  color: #E51C23; }

.color-materialBrownLight {
  color: #a1887f; }
  .color-materialBrownLight:hover {
    color: #b7a39c;
    text-decoration: none; }

.color-materialBlueGrey {
  color: #607d8b; }

.color-materialPaleTeal {
  color: #e0f2f1; }

.image-container {
  position: relative;
  float: left;
  clear: both;
  margin: 0 auto; }
  .image-container img {
    vertical-align: bottom; }
  .image-container .img-desc {
    color: whitesmoke;
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 125, 113, 0.75);
    bottom: 0px;
    left: 0px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    padding: 6px 0;
    font-family: 'Open Sans', sans-serif; }
    @media (max-width: 767px) {
      .image-container .img-desc {
        font-size: 1.1em; } }
    @media (min-width: 768px) {
      .image-container .img-desc {
        font-size: 1.2em; } }
    @media (min-width: 992px) {
      .image-container .img-desc {
        font-size: 1.25em; } }
    @media (min-width: 1200px) {
      .image-container .img-desc {
        font-size: 1.3em; } }

.flat-panel {
  border-bottom: 3px solid gray !important;
  border-radius: 1px; }
  .flat-panel .panel-heading {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 8px;
    border: 0;
    border-radius: 1px 1px 0 0;
    vertical-align: middle; }
    @media (max-width: 767px) {
      .flat-panel .panel-heading {
        font-size: 1.2em; } }
    @media (min-width: 768px) {
      .flat-panel .panel-heading {
        font-size: 1.4em; } }
    @media (min-width: 992px) {
      .flat-panel .panel-heading {
        font-size: 1.5em; } }
    @media (min-width: 1200px) {
      .flat-panel .panel-heading {
        font-size: 1.6em; } }
  .flat-panel .panel-footer {
    background-color: #ececec; }
    .flat-panel .panel-footer label {
      color: #009688 !important;
      font-weight: 300 !important; }
      @media (max-width: 767px) {
        .flat-panel .panel-footer label {
          font-size: 1em; } }
      @media (min-width: 768px) {
        .flat-panel .panel-footer label {
          font-size: 1.1em; } }
      @media (min-width: 992px) {
        .flat-panel .panel-footer label {
          font-size: 1.15em; } }
      @media (min-width: 1200px) {
        .flat-panel .panel-footer label {
          font-size: 1.2em; } }
      .flat-panel .panel-footer label:hover {
        color: #009688; }
    .flat-panel .panel-footer a {
      color: #009688 !important;
      font-weight: 300 !important; }
      @media (max-width: 767px) {
        .flat-panel .panel-footer a {
          font-size: 1em; } }
      @media (min-width: 768px) {
        .flat-panel .panel-footer a {
          font-size: 1.1em; } }
      @media (min-width: 992px) {
        .flat-panel .panel-footer a {
          font-size: 1.15em; } }
      @media (min-width: 1200px) {
        .flat-panel .panel-footer a {
          font-size: 1.2em; } }
      .flat-panel .panel-footer a:hover {
        color: #009688; }

.panel-msg-container, .panel-msg-container-teal, .panel-msg-container-brown, .panel-msg-container-red {
  color: bisque;
  margin-top: 2em;
  padding-bottom: 2em;
  padding: 0;
  border-radius: 3px; }
  .panel-msg-container i.msg-icon, .panel-msg-container-teal i.msg-icon, .panel-msg-container-brown i.msg-icon, .panel-msg-container-red i.msg-icon {
    border: 4px solid;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 2px;
    box-shadow: 1px 1px 3px #f78600;
    position: relative;
    top: 0px;
    left: 9px;
    padding-top: .5em; }
    @media (max-width: 500px) {
      .panel-msg-container i.msg-icon, .panel-msg-container-teal i.msg-icon, .panel-msg-container-brown i.msg-icon, .panel-msg-container-red i.msg-icon {
        font-size: 2em;
        left: 14px; } }
    @media (max-width: 767px) {
      .panel-msg-container i.msg-icon, .panel-msg-container-teal i.msg-icon, .panel-msg-container-brown i.msg-icon, .panel-msg-container-red i.msg-icon {
        font-size: 2.1em;
        left: 10px; } }
    @media (min-width: 768px) {
      .panel-msg-container i.msg-icon, .panel-msg-container-teal i.msg-icon, .panel-msg-container-brown i.msg-icon, .panel-msg-container-red i.msg-icon {
        font-size: 2.2em; } }
    @media (min-width: 992px) {
      .panel-msg-container i.msg-icon, .panel-msg-container-teal i.msg-icon, .panel-msg-container-brown i.msg-icon, .panel-msg-container-red i.msg-icon {
        font-size: 2.3em; } }
    @media (min-width: 1200px) {
      .panel-msg-container i.msg-icon, .panel-msg-container-teal i.msg-icon, .panel-msg-container-brown i.msg-icon, .panel-msg-container-red i.msg-icon {
        font-size: 2.4em; } }
  .panel-msg-container .text-msg, .panel-msg-container-teal .text-msg, .panel-msg-container-brown .text-msg, .panel-msg-container-red .text-msg {
    padding-left: 1%;
    padding-right: 1%; }
    @media (max-width: 767px) {
      .panel-msg-container .text-msg, .panel-msg-container-teal .text-msg, .panel-msg-container-brown .text-msg, .panel-msg-container-red .text-msg {
        font-size: 1em; } }
    @media (min-width: 768px) {
      .panel-msg-container .text-msg, .panel-msg-container-teal .text-msg, .panel-msg-container-brown .text-msg, .panel-msg-container-red .text-msg {
        font-size: 1.3em; } }
    @media (min-width: 992px) {
      .panel-msg-container .text-msg, .panel-msg-container-teal .text-msg, .panel-msg-container-brown .text-msg, .panel-msg-container-red .text-msg {
        font-size: 1.5em; } }
    @media (min-width: 1200px) {
      .panel-msg-container .text-msg, .panel-msg-container-teal .text-msg, .panel-msg-container-brown .text-msg, .panel-msg-container-red .text-msg {
        font-size: 1.6em; } }

.panel-msg-container-teal {
  color: bisque;
  background-color: #009688;
  box-shadow: 0px 0px 4px #009688, 1px 1px 3px #009688 !important; }
  .panel-msg-container-teal i.msg-icon {
    box-shadow: 1px 1px 3px #f78600; }

.panel-msg-container-brown {
  color: bisque;
  background-color: rgba(121, 85, 72, 0.7);
  box-shadow: 0px 0px 4px #996b5b, 1px 1px 3px #996b5b !important; }
  .panel-msg-container-brown i.msg-icon {
    box-shadow: 1px 1px 3px #f78600; }

.panel-msg-container-red {
  color: bisque;
  background-color: rgba(229, 28, 35, 0.6);
  box-shadow: 0px 0px 4px #ea4a4f, 1px 1px 3px #ea4a4f !important; }
  .panel-msg-container-red i.msg-icon {
    box-shadow: 1px 1px 3px #f78600; }

#search-toggle .ui-fieldset-legend {
  width: 16%;
  border-radius: 1px;
  background-color: #e0f2f1;
  background-image: none; }
  #search-toggle .ui-fieldset-legend span {
    float: left !important;
    position: relative;
    top: 10px;
    left: -6px; }

#algorithms tr td:first-child .ui-radiobutton-icon {
  position: relative;
  top: -2px;
  left: -2px; }
#algorithms tr td:last-child {
  padding: 0px 10px 5px !important; }

html {
  background-image: url("../resources/img/stardust.png"); }

body {
  font-family: 'Open Sans', sans-serif !important;
  padding-bottom: 0;
  margin-bottom: 0; }

.ui-widget, .ui-widget .ui-widget {
  font-family: 'Open Sans', sans-serif !important; }

#footer {
  background-image: url("../resources/img/stardust.png");
  color: whitesmoke;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1em; }
  @media (max-width: 767px) {
    #footer {
      font-size: 1em; } }
  @media (min-width: 768px) {
    #footer {
      font-size: 1.1em; } }
  @media (min-width: 992px) {
    #footer {
      font-size: 1.2em; } }
  @media (min-width: 1200px) {
    #footer {
      font-size: 1.3em; } }

#login\:error-messages .ui-messages-error {
  width: 50%;
  margin: 0 auto .8em auto; }

.remove-ugly-error-icon {
  background: none; }

.top1 {
  margin-top: 1px; }

.top3 {
  margin-top: 3px; }

.top5 {
  margin-top: 5px; }

.top7 {
  margin-top: 7px; }

.top10 {
  margin-top: 10px; }

.top15 {
  margin-top: 15px; }

.top17 {
  margin-top: 17px; }

.top25 {
  margin-top: 25px; }

.top30 {
  margin-top: 30px; }

.bottom1 {
  margin-bottom: 1px; }

.bottom3 {
  margin-bottom: 3px; }

.bottom5 {
  margin-bottom: 5px; }

.bottom7 {
  margin-bottom: 7px; }

.bottom10 {
  margin-bottom: 10px; }

.bottom15 {
  margin-bottom: 15px; }

.bottom17 {
  margin-bottom: 17px; }

.bottom25 {
  margin-bottom: 25px; }

.bottom30 {
  margin-bottom: 30px; }

.left1 {
  margin-left: 1px !important; }

.left3 {
  margin-left: 3px !important; }

.left5 {
  margin-left: 5px !important; }

.left7 {
  margin-left: 7px !important; }

.left10 {
  margin-left: 10px !important; }

.left15 {
  margin-left: 15px !important; }

.left17 {
  margin-left: 17px; }

.left25 {
  margin-left: 25px; }

.left30 {
  margin-left: 30px; }

#sign-out-li {
  background-color: #f2dede;
  border-color: #ebccd1; }
  #sign-out-li:hover {
    background-color: #e4b9b9; }
  #sign-out-li a {
    padding-bottom: 6px;
    padding-top: 1px; }
    #sign-out-li a i {
      font-size: 1.7em;
      position: relative;
      top: 3px;
      left: -2px; }
    #sign-out-li a:hover {
      text-decoration: none; }

#navbar-username #navbar-username-txt {
  font-weight: bold;
  color: #b7b7b7; }
#navbar-username:hover #navbar-username-txt {
  color: #dddddd; }

.my-breadcrumb {
  padding: 0;
  width: 100%; }
  .my-breadcrumb ol {
    text-align: center;
    padding-top: 16px; }
    @media (max-width: 767px) {
      .my-breadcrumb ol i {
        font-size: 1.2em; } }
    @media (min-width: 768px) {
      .my-breadcrumb ol i {
        font-size: 1.2em; } }
    @media (min-width: 992px) {
      .my-breadcrumb ol i {
        font-size: 1.3em; } }
    @media (min-width: 1200px) {
      .my-breadcrumb ol i {
        font-size: 1.4em; } }

.role-text {
  margin-top: 14px;
  text-align: center; }
  @media (max-width: 767px) {
    .role-text {
      font-size: 1.8em; } }
  @media (min-width: 768px) {
    .role-text {
      font-size: 1.9em; } }
  @media (min-width: 992px) {
    .role-text {
      font-size: 2em; } }
  @media (min-width: 1200px) {
    .role-text {
      font-size: 2em; } }

.panel-disabled {
  border-color: darkgray; }
  .panel-disabled .panel-heading {
    color: gray;
    background-color: #b6b6b6;
    border-color: darkgray; }
  .panel-disabled a, .panel-disabled .panel-footer {
    color: gray; }
    .panel-disabled a:hover, .panel-disabled .panel-footer:hover {
      color: #5a5a5a; }

.well-3d {
  border-color: #795548;
  box-shadow: 1px 1px 1px #392822; }

.dropdown-link {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857;
  color: #333;
  white-space: nowrap; }
  .dropdown-link:hover, .dropdown-link:focus {
    color: #262626;
    text-decoration: none;
    background-color: #F5F5F5; }

.ui-growl {
  top: 60px !important; }

.error-well {
  color: gray; }
  .error-well p {
    font-weight: bold; }
    @media (max-width: 767px) {
      .error-well p {
        font-size: 1.1em; } }
    @media (min-width: 768px) {
      .error-well p {
        font-size: 1.2em; } }
    @media (min-width: 992px) {
      .error-well p {
        font-size: 1.3em; } }
    @media (min-width: 1200px) {
      .error-well p {
        font-size: 1.3em; } }
  .error-well ul {
    color: #4d4d4d !important; }

.dark-jumbotron {
  color: white !important;
  background-image: url("../resources/img/stardust.png");
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  border-bottom: 0; }

.jumbotron {
  margin-bottom: 0; }

.my-dark-navbar {
  color: whitesmoke !important;
  background-image: url("../resources/img/stardust.png");
  border-bottom: 0px solid rgba(128, 128, 128, 0.5); }
  .my-dark-navbar .navbar-brand {
    color: lightgrey; }
    .my-dark-navbar .navbar-brand:hover {
      color: whitesmoke; }

.open {
  background-color: transparent !important; }
  .open .dropdown-toggle {
    background-color: grey; }

.my-dark-navbar-text {
  color: lightgrey !important; }
  .my-dark-navbar-text:hover {
    color: whitesmoke !important; }

.panel-teal {
  border-color: #009b8d; }
  .panel-teal .panel-heading {
    color: whitesmoke !important;
    background-color: #009688 !important;
    border-color: #00c9b6 !important; }
  .panel-teal a, .panel-teal .panel-footer {
    color: #009688; }
    .panel-teal a:hover, .panel-teal .panel-footer:hover {
      color: #00635a; }

.panel-brown {
  border-color: #996b5b; }
  .panel-brown .panel-heading {
    color: whitesmoke !important;
    background-color: #795548 !important;
    border-color: #996b5b !important; }
  .panel-brown a, .panel-brown .panel-footer {
    color: #795548; }
    .panel-brown a:hover, .panel-brown .panel-footer:hover {
      color: #593f35; }

.panel-bluegrey {
  color: whitesmoke !important;
  background-color: #607d8b !important;
  border-color: #7b96a3 !important; }
  .panel-bluegrey a, .panel-bluegrey .panel-footer {
    color: #607d8b; }
    .panel-bluegrey a:hover, .panel-bluegrey .panel-footer:hover {
      color: #4b626d; }

.panel-materialBluegrey {
  border-color: #36474f; }
  .panel-materialBluegrey .panel-heading {
    color: whitesmoke !important;
    background-color: #607d8b !important;
    border-color: #7b96a3 !important; }
  .panel-materialBluegrey a, .panel-materialBluegrey .panel-footer {
    color: #607d8b; }
    .panel-materialBluegrey a:hover, .panel-materialBluegrey .panel-footer:hover {
      color: #4b626d; }

.panel-materialOrange {
  border-color: #893e00; }
  .panel-materialOrange .panel-heading {
    color: whitesmoke !important;
    background-color: #ef6c00 !important;
    border-color: #ff8623 !important; }
  .panel-materialOrange a, .panel-materialOrange .panel-footer {
    color: #ef6c00; }
    .panel-materialOrange a:hover, .panel-materialOrange .panel-footer:hover {
      color: #bc5500; }

.panel-materialBrownLight {
  border-color: #6b564f; }
  .panel-materialBrownLight .panel-heading {
    color: whitesmoke !important;
    background-color: #a1887f !important;
    border-color: #b7a39c !important; }
  .panel-materialBrownLight a, .panel-materialBrownLight .panel-footer {
    color: #a1887f; }
    .panel-materialBrownLight a:hover, .panel-materialBrownLight .panel-footer:hover {
      color: #896e64; }

.panel-materialGreenLight {
  border-color: #577d2a; }
  .panel-materialGreenLight .panel-heading {
    color: whitesmoke !important;
    background-color: #8bc34a !important;
    border-color: #a4d070 !important; }
  .panel-materialGreenLight a, .panel-materialGreenLight .panel-footer {
    color: #8bc34a; }
    .panel-materialGreenLight a:hover, .panel-materialGreenLight .panel-footer:hover {
      color: #71a436; }

.panel-materialGreen {
  border-color: #99e199; }
  .panel-materialGreen .panel-heading {
    color: whitesmoke !important;
    background-color: #72D572 !important;
    border-color: #99e199 !important; }
  .panel-materialGreen a, .panel-materialGreen .panel-footer {
    color: #72D572; }
    .panel-materialGreen a:hover, .panel-materialGreen .panel-footer:hover {
      color: #4bc94b; }

.btn-teal {
  color: whitesmoke !important;
  background-color: #009688;
  border-color: #009688 !important;
  outline: none;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600; }
  .btn-teal:hover, .btn-teal:focus {
    box-shadow: inset 0 3px 5px rgba(0, 99, 90, 0.4), inset 0 4px 5px #00877a, inset 0 7px 5px #00877a;
    background-color: #007d71;
    outline: none; }
  .btn-teal:active {
    outline: none;
    background-color: #007268;
    border-color: #00635a; }

.btn-green {
  color: whitesmoke !important;
  background-color: #8bc34a;
  border-color: #8bc34a !important;
  outline: none;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600; }
  .btn-green:hover, .btn-green:focus {
    box-shadow: inset 0 3px 5px rgba(113, 164, 54, 0.4), inset 0 4px 5px #84bf3f, inset 0 7px 5px #84bf3f;
    background-color: #7eb73d;
    outline: none; }
  .btn-green:active {
    outline: none;
    background-color: #79af3a;
    border-color: #71a436; }

.btn-bluegrey {
  color: whitesmoke !important;
  background-color: #607d8b !important;
  border-color: #607d8b !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600; }

.btn-brown {
  color: whitesmoke !important;
  background-color: #795548 !important;
  border-color: #8c6253 !important;
  font-family: 'Open Sans', sans-serif !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600; }

.btn-paleteal {
  color: whitesmoke !important;
  background-color: #e0f2f1 !important;
  border-color: #f6fbfb !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600; }

.btn-brownlight {
  font-weight: bold;
  color: #fffbf7 !important;
  background-color: #a1887f !important;
  border-color: #ae9891 !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600; }

.home-panels .panel-header {
  text-align: center;
  font-weight: 300; }
  @media (max-width: 767px) {
    .home-panels .panel-header {
      font-size: 1.5em; } }
  @media (min-width: 768px) {
    .home-panels .panel-header {
      font-size: 1.6em; } }
  @media (min-width: 992px) {
    .home-panels .panel-header {
      font-size: 1.7em; } }
  @media (min-width: 1200px) {
    .home-panels .panel-header {
      font-size: 1.8em; } }
@media (max-width: 767px) {
  .home-panels .panel-body-text {
    font-size: 1em; } }
@media (min-width: 768px) {
  .home-panels .panel-body-text {
    font-size: 1.1em; } }
@media (min-width: 992px) {
  .home-panels .panel-body-text {
    font-size: 1.2em; } }
@media (min-width: 1200px) {
  .home-panels .panel-body-text {
    font-size: 1.3em; } }

#login {
  padding: .5em .8em .5em .8em;
  background-color: rgba(103, 103, 103, 0.4);
  border: 1px solid gray;
  border-radius: 1px; }
  #login .control-label {
    font-weight: 300; }
    @media (max-width: 767px) {
      #login .control-label {
        font-size: 1em; } }
    @media (min-width: 768px) {
      #login .control-label {
        font-size: 1.1em; } }
    @media (min-width: 992px) {
      #login .control-label {
        font-size: 1.2em; } }
    @media (min-width: 1200px) {
      #login .control-label {
        font-size: 1.3em; } }
  #login .login-form-name {
    padding-bottom: 5px;
    font-weight: 300;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
    @media (max-width: 767px) {
      #login .login-form-name {
        font-size: 1.5em; } }
    @media (min-width: 768px) {
      #login .login-form-name {
        font-size: 1.6em; } }
    @media (min-width: 992px) {
      #login .login-form-name {
        font-size: 1.9em; } }
    @media (min-width: 1200px) {
      #login .login-form-name {
        font-size: 1.95em; } }

.important-msg {
  font-size: 1.1em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  background-color: rgba(239, 108, 0, 0.5);
  font-weight: 300; }

.bold-text {
  font-weight: 600; }

.link-teal {
  color: #009688 !important; }
  .link-teal:hover {
    text-decoration: none;
    color: #00302c !important; }
  .link-teal:active {
    text-decoration: none;
    color: black !important; }

/*# sourceMappingURL=main.css.map */
