<ui:composition template="/WEB-INF/templates/offers/offers-layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:m="http://code.google.com/p/gmaps4jsf/">
    <ui:define name="offers-title">Εισαγωγή σπιτιού</ui:define>
    <ui:define name="offers-content">
        <!-- breadcrumb -->
        <div class="row">
            <ol class="breadcrumb text-center alert-info my-bigger-breadcrumb">
                <li><i class="fa fa-hand-o-right"/></li>
                <li class="active">Εισαγωγή οικίας</li>
            </ol>
        </div><!-- /breadcrumb-->

        <!-- welcome-msg -->
        <div class="row">
            <div class="page-header text-center">
                <div class="panel #{userStateBean.isCurrentRole('salesman')? 'panel-teal' : 'panel-brown'}">
                    <div class="panel-heading text-left">
                        <h4>
                            <strong>
                                <ui:fragment rendered="#{userStateBean.isCurrentRole('salesman')}">
                                    Πωλητής
                                </ui:fragment>
                                <ui:fragment rendered="#{userStateBean.isCurrentRole('lessor')}">
                                    Εκμισθωτής
                                </ui:fragment>
                            </strong>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <h4 class="text-info">Εισήγαγε τα στοιχεία του σπιτιού σου, όπως τα βασικά του στοιχεία,
                            κάποιες εικόνες καθώς και το σημείο του στο χάρτη</h4>
                        <h4 class="text-info">Τέλος πάτησε <span class="color-materialBrown">Εισαγωγή</span> για να το καταχωρήσεις</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- /back-button -->
        <!-- house-profile -->
        <div class="row top30">
            <div class="container">
                <h:form styleClass="form-horizontal center-block" prependId="false" id="house-profile">
                    <fieldset>
                        <p:tabView prependId="false">
                            <p:tab title="Πληροφορίες">
                                <!-- Form Name -->
                                <legend class="text-center">Στοιχεία σπιτιού</legend>

                                <div class="row">
                                    <h5 style="text-align: center">
                                        <span class="important-msg">
                                            Τα πεδία με * είναι υποχρεωτικά
                                        </span>
                                    </h5>
                                </div>
                                <div class="row">
                                    <h5 style="text-align: center">
                                        <span class="important-msg">
                                            Επίσης, είναι υποχρεωτικό να ορίσετε το σπίτι στον χάρτη στην επόμενη καρτέλα
                                        </span>
                                    </h5>
                                </div>

                                <div class="row">
                                    <div class="text-center col-md-12 col-sm-12 center-block">
                                        <p:messages id="error-messages" for="house-info" autoUpdate="true" closable="true"/>
                                    </div>
                                </div>

                                <!-- Info Titles -->
                                <div class="row form-group text-center house-profile-title">
                                    <div class="col-md-6">
                                        <h4 class="fa fa-home"> Γενικές πληροφορίες</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 class="fa fa-location-arrow"> Περιοχή</h4>
                                    </div>
                                </div>

                                <!-- Price and State -->
                                <div class="form-group row">
                                    <h:outputLabel styleClass="col-md-3 text-right"><i class="fa fa-asterisk color-materialRed"/>
                                        Τιμή</h:outputLabel>
                                    <div class="col-md-3">
                                        <i class="fa fa-euro fa-fw"/>
                                        <p:inputText value="#{insertHouseView.house.valueEntity.price}" type="number"
                                                 converterMessage="Επιτρέπονται αριθμοί μέχρι 2 δεκαδικά ψηφία"
                                                 id="price-input"
                                                 validatorMessage="Επιτρέπονται θετικοί αριθμοί για την τιμή"
                                                 required="true"
                                                requiredMessage="Εισάγετε τη τιμή του σπιτιού">
                                            <f:convertNumber maxFractionDigits="2" minFractionDigits="0"/>
                                            <f:validateLongRange minimum="0"/>
                                            <f:validator validatorId="validators.MoneyValidator"/>
                                        </p:inputText>
                                        <h:message for="price-input" styleClass="alert-danger"/>
                                    </div>
                                    <h:outputLabel styleClass="col-md-3 text-right"><i class="fa fa-asterisk color-materialRed"/>
                                        Νομός</h:outputLabel>
                                    <div class="col-md-3">
                                        <p:inputText value="#{insertHouseView.house.locationEntity.state}" type="text"
                                                     required="true" id="state"
                                                     requiredMessage="Εισάγετε το νομό που βρίσκεται το σπίτι"/>
                                        <br/>
                                        <h:message for="state" styleClass="alert-danger"/>
                                    </div>
                                </div>
                                <!-- Negotiable price -->
                                <div class="form-group row">
                                    <h:outputLabel styleClass="col-md-3 col-md-offset-1 text-right" for="negotiable">Συζητήσιμη</h:outputLabel>
                                    <p:selectBooleanCheckbox styleClass="col-md-2 text-left" id="negotiable" value="#{insertHouseView.negotiablePrice}"/>
                                </div>

                                <!-- Square meters and City -->
                                <div class="form-group row top25">
                                    <h:outputLabel styleClass="col-md-3 text-right"><i class="fa fa-asterisk color-materialRed"/>
                                        Εμβαδό</h:outputLabel>
                                    <div class="col-md-3">
                                        <p:inputText value="#{insertHouseView.house.houseEntity.sq}"
                                                     type="number" id="sqmt-input"
                                                     validatorMessage="Επιτρέπονται θετικοί αριθμοί για το εμβαδό"
                                                required="true"
                                                requiredMessage="Εισάγετε τα τετραγωνικά του σπιτιού">
                                            <f:validateLongRange minimum="0"/>
                                        </p:inputText>
                                        <strong>m<sup>2</sup></strong><br/>
                                        <h:message for="sqmt-input" styleClass="alert-danger"/>
                                    </div>
                                    <h:outputLabel styleClass="col-md-3 text-right"><i class="fa fa-asterisk color-materialRed"/>
                                        Πόλη</h:outputLabel>
                                    <div class="col-md-3">
                                        <p:inputText value="#{insertHouseView.house.locationEntity.city}" type="text"
                                                     id="price" required="true"
                                                requiredMessage="Εισάγετε τη πόλη στην οποία βρίσκεται το σπίτι"/>
                                        <br/>
                                        <h:message for="price" styleClass="alert-danger"/>
                                    </div>
                                </div>

                                <!-- dateBuilt - Roadname -->
                                <div class="form-group row">
                                    <h:outputLabel styleClass="col-md-3 text-right">Ημ/νια δόμησης</h:outputLabel>
                                    <div class="col-md-3">
                                        <p:inputText value="#{insertHouseView.house.houseEntity.dateBuilt}" type="number" id="date-built-input"
                                                     validatorMessage="Επιτρέπονται ημερομηνίες από το 1950 μέχρι και τη φετινή χρονιά">
                                            <f:validateLongRange minimum="1950" maximum="#{insertHouseView.curYear}"/>
                                        </p:inputText>
                                    </div>
                                    <h:outputLabel styleClass="col-md-3 text-right"><i class="fa fa-asterisk color-materialRed"/>
                                        Οδός
                                    </h:outputLabel>
                                    <div class="col-md-3">
                                        <p:inputText value="#{insertHouseView.house.addressEntity.roadName}" type="text"
                                                     required="true" id="roadname"
                                                requiredMessage="Εισάγετε τη διεύθυνση στην οποία βρίσκεται το σπίτι"/>
                                        <br/>
                                        <h:message for="roadname" styleClass="alert-danger"/>
                                    </div>
                                </div>

                                <!-- Renovation date - HouseNumber -->
                                <div class="form-group row">
                                    <h:outputLabel styleClass="col-md-3 text-right">Έτος ανακαίνισης</h:outputLabel>
                                    <div class="col-md-3">
                                        <p:inputText value="#{insertHouseView.house.houseEntity.renovationDate}"
                                                     type="number" id="renovation-built-input"
                                                     validatorMessage="Επιτρέπονται ημερομηνίες από το 1950 μέχρι και τη φετινή χρονιά">
                                            <f:validateLongRange minimum="1950" maximum="#{insertHouseView.curYear}"/>
                                        </p:inputText>
                                    </div>
                                    <h:outputLabel styleClass="col-md-3 text-right"><i class="fa fa-asterisk color-materialRed"/>
                                        Αριθμός</h:outputLabel>
                                    <div class="col-md-3">
                                        <p:inputText value="#{insertHouseView.house.addressEntity.houseNumber}" type="number"
                                                required="true" id="roadnumber"
                                                requiredMessage="Εισάγετε τον αριθμό της διεύθυνσης που βρίσκεται το σπίτι"
                                                validatorMessage="Ο αριθμός πρέπει να είναι μεταξύ 1-1000">
                                            <f:validateLongRange minimum="1" maximum="1000"/>
                                        </p:inputText>
                                        <br/>
                                        <h:message for="roadnumber" styleClass="alert-danger"/>
                                    </div>
                                </div>
                                <!--/location-related-->

                                <!-- Public expenditure -->
                                <div class="form-group row">
                                    <h:outputLabel styleClass="col-md-3 text-right">Κοινόχρηστα</h:outputLabel>
                                    <div class="col-md-3">
                                        <i class="fa fa-euro fa-fw"/>
                                        <p:inputText value="#{insertHouseView.house.houseEntity.publicExpenditure}" type="number"
                                                     id="public-expend-input"
                                                     validatorMessage="Επιτρέπονται θετικοί αριθμοί για τα κοινόχρηστα">
                                            <f:convertNumber maxFractionDigits="2" minFractionDigits="0"/>
                                            <f:validateLongRange minimum="0"/>
                                        </p:inputText><br/>
                                        <h:message for="public-expend-input" styleClass="alert-danger"/>
                                    </div>
                                </div>

                                <!-- Heating info -->
                                <div class="form-group row">
                                    <h:outputLabel styleClass="col-md-3 text-right">Θέρμανση</h:outputLabel>
                                    <div class="col-md-3">
                                        <p:inputText value="#{insertHouseView.house.houseEntity.heating}" type="text"/>
                                    </div>
                                </div>
                                <!-- House type -->
                                <div class="form-group row" id="house-type-selector">
                                    <h:outputLabel styleClass="col-md-3 text-right">Είδος κατοικίας</h:outputLabel>
                                    <div class="col-md-3">
                                        <p:selectOneMenu value="#{insertHouseView.houseType}" effect="none">
                                            <f:selectItem itemLabel="Διαμέρισμα" itemValue="Διαμέρισμα" />
                                            <f:selectItem itemLabel="Μονοκατοικία" itemValue="Μονοκατοικία" />
                                            <p:ajax event="change" update="floors-label floors-label-end"
                                                    listener="#{insertHouseView.houseTypeChanged}" />
                                        </p:selectOneMenu>
                                    </div>
                                </div>

                                <!-- Floors -->
                                <div class="form-group row">
                                    <p:outputLabel styleClass="col-md-3 text-right" id="floors-label">
                                        <i class="fa fa-asterisk color-materialRed"/> #{insertHouseView.floorsLabel}
                                    </p:outputLabel>
                                    <div class="col-md-3">
                                        <p:inputText value="#{insertHouseView.house.houseEntity.floor}" type="number"
                                                 id="floors-input"
                                                 validatorMessage="Επιτρέπονται θετικοί αριθμοί για τον όροφο (μέχρι 1000)"
                                                required="true"
                                                requiredMessage="Εισάγετε πληροφορίες σχετικά με τον όροφο του σπιτιού">
                                            <f:convertNumber maxFractionDigits="0"/>
                                            <f:validateLongRange minimum="0" maximum="1000"/>
                                        </p:inputText>
                                        <p:outputLabel styleClass="text-right text-muted" id="floors-label-end"
                                                       value="&#160;#{insertHouseView.floorsLabelEnd}"/>
                                        <br/>
                                        <h:message for="floors-input" styleClass="alert-danger"/>
                                    </div>
                                </div>
                        </p:tab>
                            <p:tab title="Χάρτης" prependId="false">
                                <script type="text/javascript"
                                      src="https://maps.googleapis.com/maps/api/js?sensor=true">
                                </script>
                                <legend class="text-center color-materialBrown bottom17"><i class="fa fa-globe"/> Χάρτης</legend>

                                <p:gmap id="gmap" center="37.6779298,25.6647722,720316" zoom="6" type="HYBRID" style="width:1000px;height:600px"
                                        styleClass="text-center center-block"
                                        model="#{insertHouseView.emptyModel}" onPointClick="handlePointClick(event);" widgetVar="map" autoReshape="true"/>

                                <p:dialog widgetVar="dlg" showEffect="fade" closable="false"
                                        resizable="false">
                                    <f:facet name="header">
                                        <h:outputLabel value="Είναι το σημείο του σπιτιού αυτό?" />
                                    </f:facet>
                                    <f:facet name="footer">
                                        <div class="text-center center-block">
                                            <p:commandButton value="Ναι" actionListener="#{insertHouseView.addMarker}" oncomplete="markerAddComplete()" />
                                            <p:commandButton value="Όχι" onclick="return cancel()" />
                                        </div>
                                    </f:facet>

                                    <h:inputHidden id="lat" value="#{insertHouseView.house.locationEntity.latitude}" />
                                    <h:inputHidden id="lng" value="#{insertHouseView.house.locationEntity.longitude}" />
                                </p:dialog>

                                <script type="text/javascript">
                                    var currentMarker = null;

                                    function handlePointClick(event) {
                                        if(currentMarker === null) {
                                            document.getElementById('lat').value = event.latLng.lat();
                                            document.getElementById('lng').value = event.latLng.lng();

                                            currentMarker = new google.maps.Marker({
                                                position:new google.maps.LatLng(event.latLng.lat(), event.latLng.lng())
                                            });

                                            PF('map').addOverlay(currentMarker);

                                            PF('dlg').show();
                                        }
                                    }

                                    function markerAddComplete() {
                                        var title = "";
                                        currentMarker.setTitle(title.value);
                                        title.value = "";

                                        currentMarker = null;
                                        PF('dlg').hide();
                                    }

                                    function cancel() {
                                        PF('dlg').hide();
                                        currentMarker.setMap(null);
                                        currentMarker = null;

                                        return false;
                                    }
                                </script>
                            </p:tab>
                        </p:tabView>
                    <div class="form-group row top1">
                        <div class="text-center center-block">
                            <h:commandButton value="Εισαγωγή" styleClass="btn btn-teal top30"
                                             action="#{insertHouseView.insertHouse()}"/>
                        </div>
                    </div>
                    </fieldset>
                </h:form>
            </div>
        </div>
        <!-- /house-profile -->
    </ui:define>
</ui:composition>
