<ui:composition template="/WEB-INF/templates/offers/offers-layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<ui:define name="offers-title">Επισκόπηση οικημάτων</ui:define>
<ui:define name="offers-content">
<!-- breadcrumb -->
<div class="row">
    <ol class="breadcrumb text-center alert-info my-bigger-breadcrumb">
        <li><i class="fa fa-hand-o-right"/></li>
        <li><h:link outcome="/offers/landing.xhtml">Επισκόπηση οικημάτων</h:link></li>
        <li class="active">Επισκόπηση οικίας</li>
    </ol>
</div><!-- /breadcrumb-->
<!-- welcome-msg -->
<div class="row">
    <div class="page-header text-center">
        <div class="panel panel-primary #{userStateBean.isCurrentRole('salesman')? 'panel-teal' : 'panel-brown'}">
            <div class="panel-heading text-left">
                <h4>
                    <strong>
                        <ui:fragment rendered="#{userStateBean.isCurrentRole('salesman')}">
                            Πωλητής
                        </ui:fragment>
                        <ui:fragment rendered="#{userStateBean.isCurrentRole('lessor')}">
                            Εκμισθωτής
                        </ui:fragment>
                    </strong>
                </h4>
            </div>
            <div class="panel-body">
                <h4 class="text-info">Δες τις πληροφορίες του οικήματος, και παράλληλα επεξεργάσου τες κάνοντας κλίκ στο στοιχείο που θες
                    να αλλάξεις</h4>
            </div>
        </div>
    </div>
</div>
<!-- /welcome-msg -->
<!-- back-button -->
<div class="row">
    <h:link styleClass="pull-left btn btn-info #{userStateBean.isCurrentRole('salesman')? 'btn-teal' : 'btn-brown'} return-to-home-btn" outcome="/offers/landing.xhtml">
        <i class="fa fa-arrow-left"/>&#160;
        Επιστροφή στην επισκόπηση οικημάτων
    </h:link>

    <h:form id="delete-house-confirm">
        <h:commandButton id="delete-house-btn" type="button" onclick="PF('confirm-dlg').show();"
                         styleClass="btn btn-danger pull-right" value="Διαγραφή οικίας"/>
    </h:form>
    <p:dialog id="confirm-dialog" widgetVar="confirm-dlg" width="500" modal="true"
              resizable="false" closable="true" draggable="false"
              header="Διαγραφή οικίας"
              showEffect="fade" hideEffect="fold">
        <h:form id="delete-house-submit">
            <fieldset>
                <div class="form-group row center-block text-center">
                    <span class="color-materialRed"><i class="fa fa-warning fa-2x"/> Είστε σίγουρος/η ότι θέλετε να διαγράψετε αυτήν την οικία?</span>
                </div>
                <div class="form-group row">
                    <div class="text-center center-block">
                        <h:commandButton type="button" value="Ναι" styleClass="btn btn-danger"
                                         onclick="PF('confirm-dlg').hide();"
                                         action="#{offersHouseProfileView.deleteHouse}">
                            <f:ajax execute="@form"/>
                        </h:commandButton>
                    </div>
                </div>
            </fieldset>
        </h:form>
    </p:dialog>
</div>
<!-- /back-button -->
<!-- info-msg-->
<div class="row">
    <div class="text-center center-block">
        <p:messages id="delete-house-msg" for="delete-house-messages" autoUpdate="true" showDetail="true"
                    closable="true" styleClass="center-block text-center remove-ugly-error-icon" />
    </div>
</div>
<!-- /info-msg-->
<!-- house-profile -->
<div class="row top30">
<div class="container">
<p:tabView>
<p:tab title="Πληροφορίες">
<h:form styleClass="form-horizontal center-block" id="house-profile">
<fieldset>
<!-- Form Name -->
<legend class="text-center">Στοιχεία σπιτιού</legend>

<div class="row">
    <div class="text-center col-md-12 col-sm-12 center-block">
        <p:messages id="error-messages" for="house-info" autoUpdate="true" closable="true"/>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-materialBluegrey flat-panel">
            <div class="panel-heading">
                <div class="row text-center">
                    <span><i class="fa fa-newspaper-o text-left"/> Στοιχεία της οικίας</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="container">
                    <!--Square meters-->
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel for="sqmt" value="Εμβαδό"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <p:inplace id="sqmt" emptyLabel="-κενό-" >
                                <p:inputText value="#{offersHouseProfileView.houseValuePack.house.sq}"
                                             type="number" id="sqmt-input" required="true"
                                             validatorMessage="Επιτρέπονται θετικοί αριθμοί για το εμβαδό">
                                    <f:validateLongRange minimum="0"/>
                                </p:inputText>
                            </p:inplace>
                            <h:message for="sqmt-input" styleClass="alert-danger"/>
                            <strong>m<sup>2</sup></strong>
                        </div>
                    </div>
                    <!--Heating-->
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel for="heating" value="Θέρμανση"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <p:inplace id="heating" emptyLabel="-κενό-" >
                                <p:inputText value="#{offersHouseProfileView.houseValuePack.house.heating}"
                                             type="text"/>
                            </p:inplace>
                        </div>
                    </div>
                    <!--Date built-->
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel for="date-built" value="Έτος δόμησης"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <p:inplace id="date-built" emptyLabel="-κενό-" >
                                <p:inputText value="#{offersHouseProfileView.houseValuePack.house.dateBuilt}"
                                             type="number" id="date-built-input"
                                             validatorMessage="Επιτρέπονται ημερομηνίες από το 1950 μέχρι και τη φετινή χρονιά">
                                    <f:validateLongRange minimum="1950" maximum="#{insertHouseView.curYear}"/>
                                </p:inputText>
                            </p:inplace>
                        </div>
                    </div>
                    <!--Renovation date-->
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel for="renovation-date" value="Έτος ανακαίνισης"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <p:inplace id="renovation-date" emptyLabel="-κενό-" >
                                <p:inputText value="#{offersHouseProfileView.houseValuePack.house.renovationDate}"
                                             type="number" id="renovation-built-input"
                                             validatorMessage="Επιτρέπονται ημερομηνίες από το 1950 μέχρι και τη φετινή χρονιά">
                                    <f:validateLongRange minimum="1950" maximum="#{insertHouseView.curYear}" />
                                </p:inputText>
                            </p:inplace>
                        </div>
                    </div>
                    <!-- House type -->
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel for="house-type" value="Είδος κατοικίας"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <p:inplace id="house-type" emptyLabel="-κενό-" >
                                <p:selectOneMenu value="#{offersHouseProfileView.houseType}" effect="none">
                                    <f:selectItem itemLabel="Διαμέρισμα" itemValue="Διαμέρισμα" />
                                    <f:selectItem itemLabel="Μονοκατοικία" itemValue="Μονοκατοικία" />
                                    <p:ajax event="change" update="floors-label floors-label-end"
                                            listener="#{offersHouseProfileView.houseTypeChanged}" />
                                </p:selectOneMenu>
                            </p:inplace>
                        </div>
                    </div>
                    <!-- Floors -->
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel for="floors" id="floors-label" value="#{offersHouseProfileView.floorsLabel}"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <p:inplace id="floors" emptyLabel="-κενό-" >
                                <p:inputText value="#{offersHouseProfileView.houseValuePack.house.floor}" type="number"
                                             id="floors-input"
                                             validatorMessage="Επιτρέπονται θετικοί αριθμοί για τον όροφο">
                                    <f:convertNumber maxFractionDigits="0"/>
                                    <f:validateLongRange minimum="0"/>
                                </p:inputText>
                                <h:message for="floors-input" styleClass="alert-danger"/>
                            </p:inplace>
                            <p:outputLabel styleClass="text-right text-muted" id="floors-label-end"
                                           value="&#160;#{offersHouseProfileView.floorsLabelEnd}"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-materialGreenLight flat-panel">
            <div class="panel-heading">
                <div class="row text-center">
                    <span><i class="fa fa-location-arrow text-left"/> Τοποθεσία</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel for="state" value="Νομός"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <p:inplace id="state" emptyLabel="-κενό-" >
                                <p:inputText value="#{offersHouseProfileView.houseValuePack.house.locationByIdLocation.state}"
                                             required="true" type="text"/>
                            </p:inplace>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel for="city" value="Πόλη"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <p:inplace id="city" emptyLabel="-κενό-" >
                                <p:inputText value="#{offersHouseProfileView.houseValuePack.house.locationByIdLocation.city}"
                                             required="true" type="text"/>
                            </p:inplace>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel for="roadname" value="Οδός"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <p:inplace id="roadname" emptyLabel="-κενό-" >
                                <p:inputText value="#{offersHouseProfileView.houseValuePack.house.locationByIdLocation.addressByIdAddress.roadName}"
                                             required="true" type="text"/>
                            </p:inplace>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel for="housenumber" value="Αριθμός"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <p:inplace id="housenumber" emptyLabel="-κενό-" >
                                <p:inputText value="#{offersHouseProfileView.houseValuePack.house.locationByIdLocation.addressByIdAddress.houseNumber}"
                                             required="true" type="number"/>
                            </p:inplace>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-materialBrownLight flat-panel">
            <div class="panel-heading">
                <div class="row text-center">
                    <span><i class="fa fa-money text-left"/> Κόστος</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="container">
                    <!--Public expenditure-->
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel for="public-expend" value="Κοινόχρηστα"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <p:inplace id="public-expend">
                                <p:inputText value="#{offersHouseProfileView.houseValuePack.house.publicExpenditure}" type="number"
                                             id="public-expend-input"
                                             validatorMessage="Επιτρέπονται θετικοί αριθμοί για τα κοινόχρηστα">
                                    <f:convertNumber maxFractionDigits="2" minFractionDigits="0"/>
                                    <f:validateLongRange minimum="0"/>
                                </p:inputText>
                            </p:inplace>
                            <i class="fa fa-euro fa-fw"/>
                            <br/>
                            <h:message for="public-expend-input" styleClass="alert-danger"/>
                        </div>
                    </div>
                    <!--Price-->
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel value="Αξία"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <p:inplace id="price">
                                <p:inputText value="#{offersHouseProfileView.houseValuePack.value.price}" type="number"
                                             converterMessage="Επιτρέπονται αριθμοί μέχρι 2 δεκαδικά ψηφία" id="price-input"
                                             validatorMessage="Επιτρέπονται θετικοί αριθμοί για την τιμή">
                                    <f:convertNumber maxFractionDigits="2" minFractionDigits="0" />
                                    <f:validateLongRange minimum="0"/>
                                </p:inputText>
                            </p:inplace>
                            <i class="fa fa-euro fa-fw"/>
                            <br/>
                            <h:message for="price-input" styleClass="alert-danger"/>
                        </div>
                    </div>
                    <!--Negotiability of price-->
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel for="negotiable" value="Συζητήσιμη"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <p:selectBooleanCheckbox styleClass="col-md-2 text-left" id="negotiable" value="#{offersHouseProfileView.negotiablePrice}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Buttons -->
<div class="form-group row top30">
    <div class="col-md-4 col-md-offset-4 text-center">
        <h:commandButton value="Αποθήκευση" styleClass="btn btn-success btn-teal"
                         action="#{offersHouseProfileView.updateHouse}" >
            <f:ajax execute="@form" render="house-profile"/>
        </h:commandButton>
    </div>
    <div class="col-md-4">
        <h:commandButton value="Ακύρωση" styleClass="btn btn-danger pull-right"
                         action="#{offersHouseProfileView.cancelChanges}">
            <f:ajax execute="@form" render="house-profile"/>
        </h:commandButton>
    </div>
</div>
</fieldset>
</h:form>
</p:tab>
<p:tab title="Εικόνες">
    <!--<p:graphicImage value="/users/user2/house1/img3.jpg"/>-->
    <h:form id="form">
        <div class="row">
            <div class="text-center col-md-12 col-sm-12 center-block">
                <p:messages id="images-msg" for="images-message" autoUpdate="true" closable="true"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--<p:graphicImage value="http://i58.tinypic.com/30dcbd4.jpg" alt="tinypic-img" />-->
                <p:fileUpload fileUploadListener="#{offersHouseProfileView.handleImageUpload}" mode="advanced" dragDropSupport="false"
                              update="images" multiple="true"
                              cancelLabel="Ακύρωση"
                              label="Επιλογή εικόνων"
                              uploadLabel="Ανέβασμα"
                              sizeLimit="1000000" fileLimit="10" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
                              invalidSizeMessage="Πολύ μεγάλο μέγεθος αρχείου (μέγιστο: 1MB)"
                              invalidFileMessage="Μη επιτρεπόμενος τύπος αρχείου (επιτρέπονται αρχεία gif/jpg/jpeg/png)"
                              fileLimitMessage="Επιτρέπεται να ανεβάσετε μέχρι 10 αρχεία σε μία προσπάθεια. Παρακαλώ ανανεώστε την σελίδα"/>
            </div>
        </div>
        <div class="row top30">
            <div class="col-md-12">
                <p:dataGrid var="img" value="#{offersHouseProfileView.images}" columns="2" layout="grid"
                            rows="4" paginator="true" id="images"
                            paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                            rowsPerPageTemplate="6,12,16"
                            styleClass="table table-striped table-hover admin-datatable"
                            emptyMessage="Δεν έχετε προσθέσει ακόμη φωτογραφίες!">
                    <f:facet name="header">
                        <span class="text-info panel-heading">Εικόνες της οικίας</span>
                    </f:facet>
                    <p:panel>
                        <f:facet name="header">
                            <p:inplace id="img-description" editor="true">
                                <p:ajax event="save" listener="#{offersHouseProfileView.saveDescription(img)}"/>
                                <p:inputText value="#{img.description}" type="text"
                                             onkeypress=" return event.keyCode != 13"/>
                            </p:inplace>
                            <p:commandButton styleClass="delete-image-btn pull-right" icon="ui-icon-close"
                                             value="Διαγραφή"
                                             action="#{offersHouseProfileView.deleteImage}" update="images">
                                <f:setPropertyActionListener value="#{img}" target="#{offersHouseProfileView.selectedImage}"/>
                            </p:commandButton>
                        </f:facet>
                        <div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p:graphicImage value="#{offersHouseProfileView.imgPath}#{img.url}"
                                                    alt="Συγνώμη, κάτι πήγε στραβά με τη προβολή της εικόνας. Δοκιμάστε σε κάποιο άλλο browser ή επικοινωνήστε με το διαχειριστή μας"
                                                    styleClass="img-responsive img-rounded center-block" width="50%"/>
                                </div>
                            </div>
                        </div>
                    </p:panel>
                </p:dataGrid>
            </div>
        </div>
    </h:form>
</p:tab>
<p:tab title="Χάρτης">
    <h:form>
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?sensor=true">
        </script>
        <legend class="text-center">Χάρτης</legend>
        <!--<p:growl id="growl" />-->

        <p:gmap id="gmap" center="#{offersHouseProfileView.center}" zoom="15" type="HYBRID"
                styleClass="center-block"
                model="#{offersHouseProfileView.draggableModel}" style="width:600px;height:400px" streetView="true">
            <p:ajax event="markerDrag" listener="#{offersHouseProfileView.onMarkerDrag}" />
        </p:gmap>

        <!-- Buttons -->
        <div class="form-group row top30">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h:commandButton value="Αποθήκευση" styleClass="btn btn-success btn-teal"
                                 action="#{offersHouseProfileView.updateHouse}" update="house-profile" outcome="/offers/house"/>
            </div>
            <div class="col-md-4">
                <h:commandButton value="Ακύρωση" styleClass="btn btn-danger pull-right"
                                 action="#{offersHouseProfileView.cancelChanges}" update="house-profile" outcome="/offers/house"/>
            </div>
        </div>

        <script type="text/javascript">
            var currentMarker = null;

            function handlePointClick(event) {
                if(currentMarker === null) {
                    document.getElementById('lat').value = event.latLng.lat();
                    document.getElementById('lng').value = event.latLng.lng();

                    currentMarker = new google.maps.Marker({
                        position:new google.maps.LatLng(event.latLng.lat(), event.latLng.lng())
                    });

                    PF('map').addOverlay(currentMarker);

                    PF('dlg').show();
                }
            }

            function markerAddComplete() {
                var title = document.getElementById('title');
                currentMarker.setTitle(title.value);
                title.value = "";

                currentMarker = null;
                PF('dlg').hide();
            }

            function cancel() {
                PF('dlg').hide();
                currentMarker.setMap(null);
                currentMarker = null;

                return false;
            }
        </script>
    </h:form>
</p:tab>
<p:tab title="Μηνύματα">
    <div class="row">
        <div class="text-center col-md-12 col-sm-12 center-block">
            <p:messages id="messages-msg" for="messages-message" autoUpdate="true" closable="true" />
        </div>
    </div>
    <div class="row">
        <div class="table-responsive col-md-12">
            <h:form>
                <p:dataTable var="msg" value="#{offersHouseProfileView.messages}" id="messages-datatable"
                             tableStyleClass="table table-striped table-hover admin-datatable"
                             rows="6" emptyMessage="Δεν έχετε λάβει κάποια μηνύματα γι αυτό το οίκημα ακόμη"
                             paginator="true"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="6,10,14">
                    <p:column headerText="Ώρα αποστολής" sortBy="#{msg.time}">
                        <h:outputText value="#{msg.time}" />
                    </p:column>

                    <p:column headerText="Τίτλος μηνύματος">
                        <h:outputText value="#{msg.title}" />
                    </p:column>

                    <p:column headerText="Αποστολέας">
                        <h:outputText value="#{msg.email}" />
                    </p:column>

                    <p:column headerText="Μήνυμα">
                        <h:outputText value="#{msg.message}" />
                    </p:column>

                    <p:column headerText="Αναγνωσμένο" styleClass="text-center" width="20px">
                        <h:outputLabel rendered="#{msg.isRead eq 1}" style="font-weight: 300; font-size: 1.1em;">
                            <span class="color-materialTeal"><i class="fa fa-check-circle"/> Διαβάσθηκε</span>
                        </h:outputLabel>
                        <h:commandButton value="Θέσε ως αναγνωσμένο" rendered="#{msg.isRead eq 0}"
                                         action="#{offersHouseProfileView.setReadMessage}"
                                         styleClass="btn btn-brown" style="width: 185px">
                            <f:setPropertyActionListener value="#{msg}" target="#{offersHouseProfileView.msgToUpdate}"/>
                            <f:ajax execute="@form" render="messages-datatable"/>
                        </h:commandButton>
                    </p:column>

                </p:dataTable>
            </h:form>
        </div>
    </div>
</p:tab>
</p:tabView>
</div>
</div>
<!-- /house-profile -->
</ui:define>
</ui:composition>
