<ui:composition template="/WEB-INF/templates/offers/offers-layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:define name="offers-title">Επισκόπηση οικημάτων</ui:define>
    <ui:define name="offers-content">
        <f:event type="preRenderView" listener="#{offersLandingView.getMessages}"/>
        <!-- breadcrumb -->
        <div class="row">
            <ol class="breadcrumb text-center alert-info my-bigger-breadcrumb">
                <li><i class="fa fa-hand-o-right"/></li>
                <li class="active">Επισκόπηση οικημάτων</li>
            </ol>
        </div><!-- /breadcrumb-->
        <!-- welcome-msg -->
        <div class="row">
            <div class="page-header text-center">
                <div class="panel #{userStateBean.isCurrentRole('salesman')? 'panel-teal' : 'panel-brown'}">
                    <div class="panel-heading text-left">
                        <h4>
                            <strong>
                                <ui:fragment rendered="#{userStateBean.isCurrentRole('salesman')}">
                                    Πωλητής
                                </ui:fragment>
                                <ui:fragment rendered="#{userStateBean.isCurrentRole('lessor')}">
                                    Εκμισθωτής
                                </ui:fragment>
                            </strong>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <h4>Εδώ μπορείς να βλέπεις τις οικίες που έχεις διαθέσει!</h4>
                        <h5 class="text-info">Για να δεις τα στοιχεία μιας οικίας πάτησε το <strong>Περισσότερα</strong></h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- /welcome-msg -->
        <!-- inform-msg -->
        <div class="row">
            <p:messages id="inform-msg" for="inform-messages" autoUpdate="true"
                        closable="true" styleClass="text-center bottom30"/>
        </div>
        <!-- /inform-msg -->
        <h:form id="form">
            <p:dataGrid var="hv" value="#{offersLandingView.housesValues}" columns="2"
                        rows="10" paginator="true" id="housesValues"
                        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                        rowsPerPageTemplate="6,10,14"
                        styleClass="table table-striped table-hover admin-datatable"
                        emptyMessage="Δεν έχετε προσθέσει ακόμη οικίες!"
                    >
                <f:facet name="header">
                    Καταχωρημένα σπίτια
                </f:facet>
                <p:panel styleClass="house-panel text-center #{userStateBean.isCurrentRole('salesman')? 'house-panel-teal' : 'house-panel-brown'}">
                    <f:facet name="header">
                        <h:outputLabel styleClass="pull-left">
                            #{hv.house.locationByIdLocation.state},
                            #{hv.house.locationByIdLocation.city}<br/>
                            #{hv.house.locationByIdLocation.addressByIdAddress.roadName}
                            #{hv.house.locationByIdLocation.addressByIdAddress.houseNumber}
                        </h:outputLabel>
                        <!--<br/>-->
                        <h:outputLabel styleClass="pull-right color-materialPaleTeal unread-messages-msg"
                                       rendered="#{offersLandingView.getUnreadMessagesCount(hv.house) gt 0}">
                            <i class="fa fa-bell"/>
                            #{offersLandingView.getUnreadMessagesCount(hv.house)} μη αναγνωσμένα μηνύματα
                        </h:outputLabel>
                    </f:facet>
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <ui:fragment rendered="#{hv.house.apartment eq 1}">
                                    <i class="fa fa-building fa-4x color-materialOrange"/>
                                </ui:fragment>
                                <ui:fragment rendered="#{hv.house.apartment eq 0}">
                                    <i class="fa fa-home fa-4x color-materialOrange"/>
                                </ui:fragment>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong>Τιμή πώλησης&#160;</strong>
                                <h:outputText value="#{hv.value.price}">
                                    <f:convertNumber locale="el-GR"
                                                     currencySymbol="€"
                                                     maxFractionDigits="0"
                                                     type="currency" />
                                </h:outputText>
                                <br/>
                                <strong>Έτος δόμησης&#160;</strong>
                                <h:outputText value="#{hv.house.dateBuilt}"/>
                                <br/>
                                <strong>Εμβαδό </strong>
                                <h:outputText value="#{hv.house.sq}"/>
                                <strong>τ.μ.</strong>
                                <br/>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- House -->
                                <ui:fragment rendered="#{hv.house.apartment eq 0}">
                                    Σπίτι με
                                    <h:outputText value="#{hv.house.floor}"/>
                                    <ui:fragment rendered="#{hv.house.floor eq 1}">
                                        όροφο
                                    </ui:fragment>
                                    <ui:fragment rendered="#{hv.house.floor > 1}">
                                        ορόφους
                                    </ui:fragment>
                                </ui:fragment>
                                <!-- Appartment -->
                                <ui:fragment rendered="#{hv.house.apartment eq 1}">
                                    Διαμέρισμα στον <h:outputText value="#{hv.house.floor}"/>
                                    όροφο
                                </ui:fragment>
                            </div>
                            <div class="col-md-6 text-right">
                                <h:commandButton value="Περισσότερα" styleClass="btn btn-success btn-brownlight"
                                                 action="#{offersLandingView.viewThisHouse}">
                                    <f:setPropertyActionListener value="#{hv}" target="#{offersLandingView.selectedHouse}"/>
                                </h:commandButton>
                            </div>
                        </div>
                    </div>
                </p:panel>
            </p:dataGrid>
        </h:form>
    </ui:define>
</ui:composition>
