<ui:composition template="/WEB-INF/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:define name="title">Απαγορεύεται η πρόσβαση</ui:define>
    <ui:define name="content">
        <div class="container-fluid my-dark-navbar" id="access-denied-page">
            <div class="container">
                <h:link styleClass="btn btn-default btn-teal" outcome="/index">
                    <i class="fa fa-arrow-circle-left"/>&#160;
                    Επιστροφή στην αρχική
                </h:link><br/>
                <div class="row top30">
                    <div class="well-3d text-center col-md-offset-3 col-md-7 container panel-msg-container-red"
                         role="alert">
                        <div class="row text-msg bottom30">
                            <i class="fa fa-info text-right fa-border pull-left msg-icon"/>&#160;<br/>
                            <strong>Λυπούμαστε, αλλά κάτι δεν πήγε καλά με την ενέργεια που προσπαθήσατε.</strong><br/><br/>
                            <span class="top30">
                            Παρακαλoύμε επικοινωνήστε με το διαχειριστή περιγράφοντας την ενέργεια σας ώστε να προχωρήσει στην
                            επίλυση του προβλήματος.</span>
                        </div>
                        <div class="row text-msg">
                            <span><strong class="text-center center-block">Ευχαριστούμε!</strong><i class="fa fa-2x fa-smile-o"/></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h:outputScript name="js/vendor/jquery-1.11.0.min.js"/>
    </ui:define>
</ui:composition>

