<ui:composition template="/WEB-INF/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:define name="title">Kάτι λείπει...</ui:define>
    <ui:define name="content">
        <div class="container-fluid dark-jumbotron" id="not-yet-page">
            <div class="container">
                <h:link styleClass="btn btn-default color-materialTeal btn-teal" outcome="/index">
                    <i class="fa fa-arrow-circle-left"/>&#160;
                    Επιστροφή στην αρχική
                </h:link><br/>
                <div class="row top30">
                    <div class="well-3d text-center col-md-offset-3 col-md-6 container panel-msg-container-red"
                         role="alert">
                        <div class="row text-msg">
                            <i class="fa fa-info text-right fa-border pull-left msg-icon"/>&#160;<br/>
                            <strong>Λυπούμαστε, αλλά η λειτουργία που ζητήσατε δεν έχει υλοποιηθεί ακόμη</strong>
                        </div>
                        <div class="row top30 text-msg">
                            <span class="">Παρακαλούμε, προσπαθήστε αργότερα <br/><i class="fa fa-2x fa-smile-o"/></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h:outputScript name="js/vendor/jquery-1.11.0.min.js"/>
    </ui:define>
</ui:composition>

