<ui:composition template="/WEB-INF/templates/admin/dashboard-layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:define name="title">Αλγόριθμοι αναζήτησης</ui:define>
    <ui:define name="dasboard-page-title">Αλγόριθμοι αναζήτησης</ui:define>
    <ui:define name="navigation">
        <!-- Navigation -->
        <div class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header navbar-brand my-breadcrumb">
                <ol class="breadcrumb center-block">
                    <li><i class="fa fa-hand-o-right"/></li>
                    <li><h:link outcome="/admin/home">Dashboard</h:link> </li>
                    <li class="active">Αλγόριθμοι αναζήτησης</li>
                </ol>
            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <h:link styleClass="alert-warning btn-brownlight" outcome="/index">
                                <i class="fa fa-arrow-circle-left"/>&#160;
                                Επιστροφή στην αρχική
                            </h:link>
                        </li>
                        <li>
                            <h:link outcome="/admin/home.xhtml"><i class="fa fa-dashboard fa-fw"/> Dashboard</h:link>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-users fa-fw"/> Χρήστες<span class="fa arrow"/></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <h:link outcome="/admin/users.xhtml">Εγγεγραμμένοι χρήστες</h:link>
                                </li>
                                <li>
                                    <h:link outcome="/admin/pending.xhtml">Αιτήσεις εν αναμονή</h:link>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <h:link class="active" outcome="/admin/algorithms.xhtml"><i class="fa fa-cog fa-fw"/> Αλγόριθμοι προτάσεων</h:link>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </div>
    </ui:define>
    <ui:define name="dashboard-page-content">
        <div class="row">
            <div class="text-center col-md-12">
                <div class="panel panel-default">
                    <h:form id="form" rendered="#{userStateBean.isLoggedIn()}">
                        <p:growl id="msgs" showDetail="true"/>

                        <p:dataTable id="algorithm" var="algorithm" value="#{algorithmsView.algorithms}"
                                     emptyMessage="Δεν έχετε προσθέσει ακόμη αλγορίθμους"
                                     editable="true">
                            <f:facet name="header">
                                Επισκόπηση αλγορίθμων
                            </f:facet>

                            <p:ajax event="rowEdit" listener="#{algorithmsView.onRowEdit}" update=":form:msgs" />
                            <p:ajax event="rowEditCancel" listener="#{algorithmsView.onRowCancel}" update=":form:msgs" />

                            <p:column headerText="Τίτλος">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{algorithm.algorithmEntity.title}" /></f:facet>
                                    <f:facet name="input"><p:inputText label="title" value="#{algorithm.algorithmEntity.title}"
                                       style="width:100%; height: 100%"
                                       onkeypress=" return event.keyCode != 13"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Περιγραφή">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{algorithm.algorithmEntity.description}" /></f:facet>
                                    <f:facet name="input">
                                        <p:inputTextarea value="#{algorithm.algorithmEntity.description}"
                                                         style="width:100%" label="description"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Κατάσταση">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        #{algorithm.isEnable}
                                    </f:facet>
                                    <f:facet name="input">
                                        <h:selectBooleanCheckbox value="#{algorithm.enable}" onkeypress=" return event.keyCode != 13"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column style="width:32px">
                                <p:rowEditor />
                            </p:column>

                            <p:column>
                                <div class="text-center center-block">
                                    <h:commandButton value="Διαγραφή"
                                                     styleClass="btn btn-danger"
                                                     actionListener="#{algorithmsView.delete}"
                                                     action="/admin/algorithms">
                                        <f:param name="delete" value="#{algorithm}"/>
                                    </h:commandButton>
                                </div>
                            </p:column>
                        </p:dataTable>
                    </h:form>

                    <h:form id="insert" rendered="#{userStateBean.isLoggedIn()}">
                        <div class="subtitle top30 bottom30">
                            <h3 class="text-warning"><strong>Εισαγωγή αλγορίθμου</strong></h3>
                        </div>

                        <div class="form-group row has-feedback has-feedback-left">
                            <h:outputLabel class="col-md-5 control-label text-right" for="title" value="Τίτλος" />
                            <div class="col-md-3 text-left">
                                <p:inputText id="title" value="#{algorithmsView.title}" label="title"
                                             required="true"
                                             title="Εισάγετε τον τίτλο του αλγορίθμου"
                                             requiredMessage="Ο τίτλος είναι υποχρεωτικος."
                                             type="text">
                                </p:inputText>
                            </div>
                        </div>

                        <div class="form-group row has-feedback has-feedback-left">
                            <h:outputLabel class="col-md-5 control-label text-right" for="description" value="Περιγραφή" />
                            <div class="col-md-3 text-left">
                                <p:inputTextarea id="description" value="#{algorithmsView.description}" label="description"
                                                 required="true"
                                                 title="Εισάγεται μια περιγραφή του αλγόρίθμου, η οποία θα εμφανίζεται στους χρήστες"
                                                 requiredMessage="Εισάγεται μια περιγραφή του αλγόρίθμου, η οποία θα εμφανίζεται στους χρήστες"
                                                 type="text">
                                </p:inputTextarea>
                            </div>
                        </div>

                        <div class="form-group row has-feedback has-feedback-left">
                            <h:outputLabel class="col-md-5 control-label text-right" value="Ενεργός" />
                            <div class="col-md-3 text-left">
                                <p:selectBooleanCheckbox value="#{algorithmsView.enable}" />
                            </div>
                        </div>

                        <div class="form-group row top1">
                            <div class="text-center center-block top10">
                                <h:commandButton value="Αποθήκευση" styleClass="btn btn-success btn-teal"
                                                 action="#{algorithmsView.saveAlgorithm}" update="save" outcome="/admin/algorithms"/>
                            </div>
                        </div>

                    </h:form>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>

