<ui:composition template="/WEB-INF/templates/admin/dashboard-layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:define name="title">Διαχείριση εφαρμογής &#183; Χρήστες</ui:define>
    <ui:define name="dasboard-page-title">Εγγεγραμμένοι χρήστες</ui:define>
    <ui:define name="navigation">
        <!-- Navigation -->
        <div class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header navbar-brand my-breadcrumb">
                <ol class="breadcrumb center-block">
                    <li><i class="fa fa-hand-o-right"/></li>
                    <li><h:link outcome="/admin/home">Dashboard</h:link> </li>
                    <li class="active">Εγγεγραμμένοι χρήστες</li>
                </ol>
            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <h:link styleClass="alert-warning btn-brownlight" outcome="/index">
                                <i class="fa fa-arrow-circle-left"/>&#160;
                                Επιστροφή στην αρχική
                            </h:link>
                        </li>
                        <li>
                            <h:link outcome="/admin/home.xhtml"><i class="fa fa-dashboard fa-fw"/> Dashboard</h:link>
                        </li>
                        <li class="active">
                            <a href="#"><i class="fa fa-users fa-fw"/> Χρήστες<span class="fa arrow"/></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <h:link class="active" outcome="/admin/users.xhtml">Εγγεγραμμένοι χρήστες</h:link>
                                </li>
                                <li>
                                    <h:link outcome="/admin/pending.xhtml">Αιτήσεις εν αναμονή</h:link>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <h:link outcome="/admin/algorithms.xhtml"><i class="fa fa-cog fa-fw"/> Αλγόριθμοι προτάσεων</h:link>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </div>
    </ui:define>
    <ui:define name="dashboard-page-content">
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-teal">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <i class="fa fa-users fa-fw"/> Λίστα χρηστών
                    </div>
                    <div class="panel-body">
                        <h4>Επέλεξε κάποιον χρήστη και μεταφέρσου στο προφίλ του όπου θα υπάρχουν περισσότερες πληροφορίες</h4>
                        <hr/>
                        <!-- Table -->
                        <div class="table-responsive">
                            <h:form>
                                <p:dataTable var="user" value="#{adminUsersView.users}"
                                             tableStyleClass="table table-striped table-hover admin-datatable"
                                             rows="10"
                                             paginator="true"
                                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                             rowsPerPageTemplate="5,10,15">
                                    <p:column headerText="Όνομα χρήστη">
                                        <h:outputText value="#{user.username}" />
                                    </p:column>

                                    <p:column headerText="Όνομα">
                                        <h:outputText value="#{user.nameByIdName.name}" />
                                    </p:column>

                                    <p:column headerText="Επίθετο">
                                        <h:outputText value="#{user.nameByIdName.surname}" />
                                    </p:column>

                                    <p:column headerText="Email">
                                        <h:outputText value="#{user.communicationByIdCommunication.eMail}" />
                                    </p:column>

                                    <p:column headerText="Προβολή προφίλ" styleClass="text-center">
                                        <h:commandLink value="Προφίλ"
                                                       actionListener="#{userStateBean.sendUserMessage}"
                                                       action="/user/profile">
                                            <span class="admin-link-text"><i class="fa fa-external-link-square color-materialTeal"/></span>
                                            <f:param name="id" value="#{user}"/>
                                        </h:commandLink>
                                    </p:column>
                                </p:dataTable>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </ui:define>
</ui:composition>

