<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:p="http://primefaces.org/ui"
        xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
        xmlns:ui="http://java.sun.com/jsf/facelets">
    <body>
        <ui:composition>
            <script type="application/javascript">
                $(function () { $("[data-toggle='tooltip']").tooltip(); });
            </script>
            <div class="container">
                <strong id="footer-note" data-toggle="tooltip" data-placement="right"
                        title="Yes, the k was on purpose">
                    Copyright <i class="fa fa-copyright fa-fw"/> #{now.year + 1900} &#183; Harachi, Ink</strong>
            </div>
        </ui:composition>
    </body>
</html>