<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
        xmlns:pst="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition>
    <div class="navbar navbar-inverse navbar-fixed-top my-dark-navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h:link styleClass="navbar-brand" outcome="/index" value="Harachi"/>
            </div>
            <div class="navbar-collapse collapse" id="top-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Navbar when user is logged in -->
                    <ui:fragment rendered="#{not userStateBean.isLoggedIn()}">
                        <li><h:link styleClass="my-dark-navbar-text" value="Εγγραφή" outcome="/register"/></li>
                        <li><h:link styleClass="my-dark-navbar-text" value="Σύνδεση" outcome="/login" /></li>
                    </ui:fragment>
                    <ui:fragment rendered="#{userStateBean.isLoggedIn()}">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle my-dark-navbar-text" id="navbar-username" data-toggle="dropdown">
                                <i class="fa fa-user fa-2x pull-left"/>
                                Καλώς ήρθες, <span id="navbar-username-txt">#{userStateBean.username}</span>
                                <span class="caret"/></a>
                            <ul class="dropdown-menu" role="menu">
                                <!--<li><a href="#">Προφίλ</a></li>-->
                                <li>
                                    <h:form>
                                        <h:commandLink value="Προφίλ" styleClass="dropdown-link"
                                                       actionListener="#{userStateBean.sendUserMessage}"
                                                       action="/user/profile?faces-redirect=true">
                                            <f:param name="id" value="#{userStateBean.current}"/>
                                        </h:commandLink>
                                    </h:form>
                                </li>


                                <!-- Roles -->
                                <li role="presentation" class="dropdown-header">Χρήση εφαρμογής ως</li>
                                <h:form>
                                    <ui:fragment rendered="#{userStateBean.isSalesman()}">
                                        <li>
                                            <h:commandLink styleClass="dropdown-link" action="#{userStateBean.handleRedirect('salesman')}">
                                                <ui:fragment rendered="#{userStateBean.isCurrentRole('salesman')}">
                                                    <i class="fa fa-check color-materialTeal"/>
                                                </ui:fragment>
                                                Πωλητής
                                            </h:commandLink>
                                        </li>
                                    </ui:fragment>
                                    <ui:fragment rendered="#{userStateBean.isLessor()}">
                                        <li>
                                            <h:commandLink styleClass="dropdown-link" action="#{userStateBean.handleRedirect('lessor')}">
                                                <ui:fragment rendered="#{userStateBean.isCurrentRole('lessor')}">
                                                    <i class="fa fa-check color-materialTeal"/>
                                                </ui:fragment>
                                                Εκμισθωτής
                                            </h:commandLink>
                                        </li>
                                    </ui:fragment>
                                    <ui:fragment rendered="#{userStateBean.isBuyer()}">
                                        <li>
                                            <h:commandLink styleClass="dropdown-link" action="#{userStateBean.handleRedirect('buyer')}">
                                                <ui:fragment rendered="#{userStateBean.isCurrentRole('buyer')}">
                                                    <i class="fa fa-check color-materialTeal"/>
                                                </ui:fragment>
                                                Αγοραστής
                                            </h:commandLink>
                                        </li>
                                    </ui:fragment>
                                    <ui:fragment rendered="#{userStateBean.isLessee()}">
                                        <li>
                                            <h:commandLink styleClass="dropdown-link" action="#{userStateBean.handleRedirect('lessee')}">
                                                <ui:fragment rendered="#{userStateBean.isCurrentRole('lessee')}">
                                                    <i class="fa fa-check color-materialTeal"/>
                                                </ui:fragment>
                                                Ενοικιαστής
                                            </h:commandLink>
                                        </li>
                                    </ui:fragment>
                                    <ui:fragment rendered="#{userStateBean.isAdmin()}">
                                        <li>
                                            <h:commandLink styleClass="dropdown-link" action="#{userStateBean.handleRedirect('admin')}">
                                                <ui:fragment rendered="#{userStateBean.isCurrentRole('admin')}">
                                                    <i class="fa fa-check color-materialTeal"/>
                                                </ui:fragment>
                                                Διαχειριστής
                                            </h:commandLink>
                                        </li>
                                    </ui:fragment>
                                </h:form>

                                <!--Log out-->
                                <li role="presentation" class="divider"/>
                                <li id="sign-out-li">
                                    <h:form>
                                        <h:commandLink styleClass="text-center center-block"
                                                       action="#{userStateBean.doLogout}"
                                                >
                                            <i class="fa fa-sign-out text-danger"/>
                                            <span class="text-danger">
                                                Αποσύνδεση
                                            </span>
                                        </h:commandLink>
                                    </h:form>
                                </li>
                            </ul>
                        </li>
                    </ui:fragment>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle my-dark-navbar-text" data-toggle="dropdown">
                            <i class="fa fa-support fa-2x pull-left"/>
                            Βοήθεια<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><h:link outcome="/errors/not-yet">F.A.Q.</h:link></li>
                            <li><h:link outcome="/errors/not-yet">Επικοινωνία</h:link></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </div>
</ui:composition>
</html>