<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Harachi &middot; <ui:insert name="title"></ui:insert></title>
    <ui:insert name="description">
        <meta name="description" content="Leasing application buy lent house"/>
    </ui:insert>
    <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/img/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <h:outputStylesheet name="bootstrap.min.css" library="css"/>
    <h:outputStylesheet>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </h:outputStylesheet>
    <h:outputStylesheet name="plugins/metisMenu/metisMenu.min.css" library="css"/>
    <h:outputStylesheet name="plugins/timeline.css" library="css"/>
    <h:outputStylesheet name="sb-admin-2.css" library="css"/>
    <h:outputStylesheet name="has-left-icons.css" library="css"/>
    <h:outputStylesheet name="main.css" library="css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <h:outputScript name="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"/>
</h:head>
<h:body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div id ="page-container">
        <div id="header">
            <ui:insert name="header">
                <ui:include src="header.xhtml"/>
            </ui:insert>
        </div>

        <div id="content">
            <ui:insert name="content">
                <ui:include src="content.xhtml"/>
            </ui:insert>
        </div>

        <div id="footer" class="container-fluid">
            <ui:insert name="footer">
                <ui:include src="footer.xhtml"/>
            </ui:insert>
        </div>
    </div>

    <h:outputScript name="jquery/jquery-plugins.js" library="primefaces"/>
    <h:outputScript name="js/vendor/bootstrap.min.js"/>
    <h:outputScript name="js/main.js"/>
</h:body>
</html>
