<ui:composition template="/WEB-INF/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:define name="title">Προφίλ χρήστη</ui:define>
    <ui:define name="content">
        <h:form rendered="#{userStateBean.profilePermissions()}">
            <div class="jumbotron">
                <div class="container">
                        <h:link rendered="#{not userProfileView.canApprove}"
                                styleClass="btn btn-default btn-warning" outcome="/index">
                            <i class="fa fa-arrow-circle-left"/>&#160;
                            Επιστροφή στην αρχική
                        </h:link>
                        <h:link rendered="#{userProfileView.canApprove}"
                                styleClass="btn btn-default btn-teal pull-right" outcome="/admin/home">
                            <i class="fa fa-arrow-circle-right"/>&#160;
                            Επιστροφή στην εφαρμογή του διαχειριστή
                        </h:link>
                        <br/>
                        <br/>
                    <h:form class="form-horizontal top30" id="login">
                        <fieldset>

                            <!-- Form Name -->
                            <legend style="text-align: center">Προφίλ χρήστη</legend>

                            <h5 style="text-align: center">Πατήστε πάνω στις τιμές των πεδίων για να τα επεξεργαστείτε.
                                <br/><br/>
                                <ui:fragment rendered="#{not userProfileView.canApprove}">
                                    <span class="important-msg">
                                        Για την ασφάλεια του λογαριασμού σας θα πρέπει να εισάγετε τον κωδικό πρόβασής σας
                                     για την επιβεβαίωση οποιασδήποτε αλλαγής.
                                    </span>
                                </ui:fragment>
                            </h5>

                            <div class="row">
                                <div class="text-center col-md-12 col-sm-12 center-block">
                                    <p:messages id="error-messages" autoUpdate="true" closable="true" />
                                </div>
                            </div>

                            <!--codes-->
                            <div class="subtilte">
                                <h3>Στοιχεία σύνδεσης</h3>
                            </div>

                            <!-- Text input-->
                            <div class="form-group row has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" for="username" value="Όνομα χρήστη" />
                                <div class="col-md-3">
                                    <p:inplace id="username" >
                                        <p:inputText value="#{userProfileView.userInfo.user.username}" label="username"
                                             required="true" autocomplete="off"
                                             title="Εισάγετε το όνομα χρήστη με το οποίο θέλετε να κάνετε εισαγωγή στο σύστημα"
                                             requiredMessage="Το όνομα χρήστη είναι υποχρεωτικό για την εισαγωγή σας στο σύστημα"
                                             type="text" />
                                    </p:inplace>
                                </div>
                            </div>

                            <!--Password input from user-->
                            <div class="form-group row top1 has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" rendered="#{not userProfileView.canApprove}">Τρέχων Κωδικός</h:outputLabel>
                                <div class="col-md-3">
                                    <p:password id="password" value="#{userProfileView.curPassword}"
                                                feedback="true" inline="true" rendered="#{not userProfileView.canApprove}"
                                                promptLabel="Παρακαλώ εισάγετε τον κωδικό πρόσβασης" weakLabel="Αδύναμος"
                                                goodLabel="Μέτριος" strongLabel="Δυνατός"
                                                label="Κωδικός" required="true" autocomplete="off"
                                                requiredMessage="Παρακαλώ εισάγετε τον κωδικό σας"
                                                title="Εισάγετε τον κωδικό σας"
                                                type="text">
                                        <f:validator validatorId="validators.NewPasswordValidator"/>
                                    </p:password>
                                </div>
                            </div>



                            <!-- Password input from admin-->
                            <div class="form-group row top1 has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" rendered="#{userProfileView.canApprove}" >Κωδικός</h:outputLabel>
                                <div class="col-md-3">
                                    <p:inputText value="#{userProfileView.userInfo.user.password}" rendered="#{userProfileView.canApprove}"
                                                feedback="true" inline="true"
                                                promptLabel="Παρακαλώ εισάγετε τον κωδικό πρόσβασης" weakLabel="Αδύναμος"
                                                goodLabel="Μέτριος" strongLabel="Δυνατός"
                                                label="Κωδικός"
                                                title="Εισάγετε τον κωδικό σας"
                                                type="text" >
                                        <f:validator validatorId="validators.PasswordValidator"/>
                                    </p:inputText>
                                </div>
                            </div>

                            <!--communication-->
                            <div class="subtilte">
                                <h3>Προσωπικά στοιχεία</h3>
                            </div>

                            <!-- name input-->
                            <div class="form-group row has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" for="name" value="Όνομα" />
                                <div class="col-md-3">
                                    <p:inplace id="name" emptyLabel="-κενό-">
                                        <p:inputText value="#{userProfileView.userInfo.name.name}" label="name">
                                            <f:validator validatorId="validators.NameValidator"/>
                                        </p:inputText>
                                    </p:inplace>
                                </div>
                            </div>

                            <!-- surname input-->
                            <div class="form-group row has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" for="surname" value="Επίθετο" />
                                <div class="col-md-3">
                                    <p:inplace id="surname"  emptyLabel="-κενό-">
                                        <p:inputText value="#{userProfileView.userInfo.name.surname}" label="surname">
                                            <f:validator validatorId="validators.SurnameValidator"/>
                                        </p:inputText>
                                    </p:inplace>
                                </div>
                            </div>

                            <!-- father's name input-->
                            <div class="form-group row has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" for="father" value="Πατρόνυμο" />
                                <div class="col-md-3">
                                    <p:inplace id="father" emptyLabel="-κενό-" >
                                        <p:inputText value="#{userProfileView.userInfo.name.father}" label="father">
                                            <f:validator validatorId="validators.FatherValidator"/>
                                        </p:inputText>
                                    </p:inplace>
                                </div>
                            </div>

                            <!--communication-->
                            <div class="subtilte">
                                <h3>Στοιχεία επικοινωνίας</h3>
                            </div>

                            <!--e-mail-->
                            <div class="form-group row has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" for="email" value="E-mail" />
                                <div class="col-md-3">
                                    <p:inplace id="email" >
                                        <p:inputText value="#{userProfileView.userInfo.communication.eMail}" label="pattern"
                                                     required="true"
                                                     title="Εισάγετε το email σας με το οποίο θα είναι δυνατή η
                                                     επικοινωνία μαζί σας."
                                                     requiredMessage="Το email σας είναι υποχρεωτικό για την δυνατότητα
                                                      επικοινωνίας μαζί σας."
                                                     type="text">
                                            <f:validator validatorId="validators.EmailValidator" />
                                        </p:inputText>
                                    </p:inplace>
                                </div>
                            </div>

                            <!--phone-->
                            <div class="form-group row has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" for="phone" value="Σταθερό" />
                                <div class="col-md-3">
                                    <p:inplace id="phone" emptyLabel="-κενό-">
                                        <p:inputMask value="#{userProfileView.userInfo.communication.telephone}"
                                                     label="phone" mask="999-999-9999">
                                            <f:validator validatorId="validators.TelephoneValidator"/>
                                        </p:inputMask>
                                    </p:inplace>
                                </div>
                            </div>

                            <!--mobile-->
                            <div class="form-group row has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" for="mobile" value="Κινητό" />
                                <div class="col-md-3">
                                    <p:inplace id="mobile" emptyLabel="-κενό-" >
                                        <p:inputMask value="#{userProfileView.userInfo.communication.mobile}"
                                                     label="mobile" mask="999-999-9999">
                                            <f:validator validatorId="validators.MobileValidator"/>
                                        </p:inputMask>
                                    </p:inplace>
                                </div>
                            </div>

                            <!--users-->
                            <div class="subtilte">
                                <h3>Ρόλοι Χρηστών</h3>
                            </div>

                            <div class="form-group row has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" value="Αγοραστής" />
                                <div class="col-md-3">
                                    <h:selectBooleanCheckbox value="#{userProfileView.userInfo.isBuyer}" />
                                </div>
                            </div>

                            <div class="form-group row has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" value="Πωλητής" />
                                <div class="col-md-3">
                                    <h:selectBooleanCheckbox value="#{userProfileView.userInfo.isSalesman}" />
                                </div>
                            </div>

                            <div class="form-group row has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" value="Εκμισθωτής" />
                                <div class="col-md-3">
                                    <h:selectBooleanCheckbox value="#{userProfileView.userInfo.isLessor}" />
                                </div>
                            </div>

                            <div class="form-group row has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" value="Ενοικιαστής" />
                                <div class="col-md-3">
                                    <h:selectBooleanCheckbox value="#{userProfileView.userInfo.isLessee}" />
                                </div>
                            </div>

                            <div class="form-group row has-feedback has-feedback-left top25">
                                <h:outputLabel class="col-md-5 control-label" value="Διαχειριστής"
                                               rendered="#{userProfileView.canApprove}"/>
                                <div class="col-md-3">
                                    <h:selectBooleanCheckbox value="#{userProfileView.userInfo.isAdmin}" rendered="#{userProfileView.canApprove}"/>
                                </div>
                            </div>

                            <div class="form-group row has-feedback has-feedback-left top25">
                                <h:outputLabel class="col-md-5 control-label important-msg" value="Aποδοχή εγγραφής χρήστη"
                                               rendered="#{userProfileView.canApprove}"/>
                                <div class="col-md-3">
                                    <h:selectBooleanCheckbox value="#{userProfileView.approved}"
                                                                     rendered="#{userProfileView.canApprove}"/>
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="form-group row top30">
                                <div class="text-center center-block">
                                    <h:commandButton value="Αποθήκευση" styleClass="btn btn-success btn-teal"
                                                     action="#{userProfileView.updateProfile}" update="profile"/>
                                    <h:commandButton value="Ακύρωση" styleClass="btn btn-danger pull-right"
                                                     action="#{userProfileView.rollback}" update="profile"/>
                                </div>
                            </div>
                        </fieldset>
                    </h:form>
                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>

