<ui:composition template="/WEB-INF/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:define name="title">Επιλογή ρόλου</ui:define>
    <ui:define name="content">
        <div class="jumbotron">
            <div class="container">
                <div class="well top30">
                    <div class="row">
                        <div class="text-center well-sm well col-md-8 col-md-offset-2 well-3d">
                            <h4 class="color-materialBrown"><i class="fa fa-bell fa-fw fa-2x"/>Επιλέξτε το ρόλο χρήστη με τον οποίο θέλετε να συνεχίσετε στην εφαρμογή</h4>
                        </div>
                    </div>
                    <h:form>
                        <ui:fragment rendered="#{userStateBean.isRole('admin')}">
                            <div class="row top10 bottom30 center-block">
                                <div class="col-md-offset-4 col-md-4">
                                    <h:commandLink action="#{userStateBean.handleRedirect('admin')}">
                                        <div class="panel panel-bluegrey">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <i class="fa fa-cogs fa-5x"></i>
                                                    </div>
                                                    <div class="col-xs-9 text-right">
                                                        <div class="role-text">Διαχειριστής</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                                <span class="pull-left">Συνέχεια</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </h:commandLink>
                                </div>
                            </div>
                        </ui:fragment>
                        <div class="row top30">
                            <div class="col-lg-4 col-lg-offset-2 col-md-6">
                                <h:commandLink action="#{userStateBean.handleRedirect('salesman')}">
                                    <div class="panel #{userStateBean.isSalesman()? 'panel-teal' : 'panel-disabled'}">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-key fa-5x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="role-text">Πωλητής</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <span class="pull-left">#{userStateBean.isSalesman()? 'Συνέχεια' : 'Ενεργοποίηση ρόλου'}</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </h:commandLink>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <h:commandLink action="#{userStateBean.handleRedirect('lessor')}">
                                    <div class="panel #{userStateBean.isLessor()? 'panel-brown' : 'panel-disabled'}">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-line-chart fa-5x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="role-text">Εκμισθωτής</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <span class="pull-left">#{userStateBean.isLessor()? 'Συνέχεια' : 'Ενεργοποίηση ρόλου'}</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </h:commandLink>
                            </div>
                        </div>
                        <div class="row top30">
                            <div class="col-lg-4 col-lg-offset-2 col-md-6">
                                <h:commandLink action="#{userStateBean.handleRedirect('buyer')}">
                                    <div class="panel #{userStateBean.isBuyer()? 'panel-materialGreenLight' : 'panel-disabled'}">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-money fa-5x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="role-text">Αγοραστής</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <span class="pull-left">#{userStateBean.isBuyer()? 'Συνέχεια' : 'Ενεργοποίηση ρόλου'}</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </h:commandLink>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <h:commandLink action="#{userStateBean.handleRedirect('lessee')}">
                                    <div class="panel #{userStateBean.isLessee()? 'panel-materialBrownLight' : 'panel-disabled'}">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-calendar fa-5x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="role-text">Ενοικιαστής</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <span class="pull-left"> #{userStateBean.isLessee()? 'Συνέχεια' : 'Ενεργοποίηση ρόλου'}</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </h:commandLink>
                            </div>
                        </div>
                    </h:form>
                </div>
            </div>
        </div>
        <h:outputScript name="js/vendor/jquery-1.11.0.min.js"/>
    </ui:define>
</ui:composition>

