<ui:composition template="/WEB-INF/templates/offers/offers-layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<ui:define name="offers-title">Προφίλ οικίας</ui:define>
<ui:define name="offers-content">
<!-- breadcrumb -->
<div class="row">
    <ol class="breadcrumb text-center alert-info my-bigger-breadcrumb">
        <li><i class="fa fa-hand-o-right"/></li>
        <li><h:link outcome="/demands/landing.xhtml">Aναζήτηση οικημάτων</h:link></li>
        <li class="active">Προφίλ οικίας</li>
    </ol>
</div><!-- /breadcrumb-->
<!-- welcome-msg -->
<div class="row">
    <div class="page-header text-center">
        <div class="panel panel-primary #{userStateBean.isCurrentRole('buyer')? 'panel-materialGreen' : 'panel-materialBluegrey'}">
            <div class="panel-heading text-left">
                <h4>
                    <strong>
                        <ui:fragment rendered="#{userStateBean.isCurrentRole('buyer')}">
                            Αγοραστής
                        </ui:fragment>
                        <ui:fragment rendered="#{userStateBean.isCurrentRole('lessee')}">
                            Ενοικιαστής
                        </ui:fragment>
                    </strong>
                </h4>
            </div>
            <div class="panel-body">
                <h4 class="text-info">Δες τις πληροφορίες της οικίας, και παράλληλα επικοινώνησε με τον ιδιοκτήτη με
                    το πάτημα ενός κουμπιού</h4>
            </div>
        </div>
    </div>
</div>
<!-- /welcome-msg -->
<!-- back-button -->
<h:form id="back">
<div class="row">
    <h:commandLink styleClass="pull-left btn btn-info #{userStateBean.isCurrentRole('buyer')? 'panel-materialGreen' : 'panel-materialBluegrey'}
                        return-to-home-btn" action="#{demandsHouseProfileView.back}">
        <i class="fa fa-arrow-left"/>&#160;
        Επιστροφή στην αναζήτηση οικημάτων
    </h:commandLink>
</div>
</h:form>
<!-- /back-button -->
<!-- house-profile -->
<div class="row top30">
<div class="container">
<div class="row">
    <h:form id="info-form">
        <p:dataGrid var="img" value="#{demandsHouseProfileView.info.houseEntity.imagesByIdHouse}" columns="3" layout="grid"
                    rows="2" paginator="true" id="images"
                    paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                    rowsPerPageTemplate="1,2,3"
                    styleClass="table table-striped table-hover admin-datatable"
                    emptyMessage="Δεν έχουν προστεθεί ακόμη φωτογραφίες!">
            <f:facet name="header">
                <span class="text-info panel-heading">Εικόνες της οικίας</span>
            </f:facet>
            <p:panel>
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="image-container">
                                <p:graphicImage value="#{demandsHouseProfileView.imgPath}#{img.url}" alt="#{img.description}"
                                                styleClass="img-responsive img-rounded" width="100%"/>
                                <div class="img-desc text-center center-block">
                                    #{img.description}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p:panel>
        </p:dataGrid>
    </h:form>
</div>
<div class="row top30 bottom30">
    <div class="col-md-6">
        <div class="panel panel-materialBluegrey flat-panel">
            <div class="panel-heading">
                <div class="row text-center">
                    <span><i class="fa fa-newspaper-o text-left"/> Στοιχεία της οικίας</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel value="Εμβαδό"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <h:outputText value="#{demandsHouseProfileView.info.houseEntity.sq}"/>
                            &#160;m<sup>2</sup>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel value="Θέρμανση"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <h:outputText value="#{demandsHouseProfileView.info.houseEntity.heating}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel value="Έτος δόμησης"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <h:outputText value="#{demandsHouseProfileView.info.houseEntity.dateBuilt}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel value="Έτος ανακαίνισης"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <h:outputText value="#{demandsHouseProfileView.info.houseEntity.renovationDate}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <h:outputLabel
                        value="Διαμέρισμα στον #{demandsHouseProfileView.info.houseEntity.floor}"
                        rendered="#{demandsHouseProfileView.info.houseEntity.apartment eq 1}"/>
                <h:outputLabel
                        value="&#160;όροφο"
                        rendered="#{demandsHouseProfileView.info.houseEntity.apartment eq 1}"/>
                <h:outputLabel
                        value="Μονοκατοικία με #{demandsHouseProfileView.info.houseEntity.floor} ορόφους"
                        rendered="#{demandsHouseProfileView.info.houseEntity.apartment eq 0
                                                and demandsHouseProfileView.info.houseEntity.floor gt 1}"/>
                <h:outputLabel
                        value="Μονοκατοικία με #{demandsHouseProfileView.info.houseEntity.floor} όροφο"
                        rendered="#{demandsHouseProfileView.info.houseEntity.apartment eq 0
                                                and demandsHouseProfileView.info.houseEntity.floor eq 1}"/>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-teal flat-panel">
            <div class="panel-heading">
                <div class="row text-center">
                    <span><i class="fa fa-comment text-left"/> Ιδιοκτήτης</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel value="Όνομα"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <h:outputText
                                    value="#{demandsHouseProfileView.info.userEntity.nameByIdName.name}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel value="Επίθετο"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <h:outputText
                                    value="#{demandsHouseProfileView.info.userEntity.nameByIdName.surname}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel value="Email"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <h:outputText
                                    value="#{demandsHouseProfileView.info.userEntity.communicationByIdCommunication.eMail}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel value="Τηλέφωνο"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <h:outputText value="Δεν έχει καταχωρηθεί"
                                          rendered="#{(demandsHouseProfileView.info.userEntity.communicationByIdCommunication.mobile eq null)
                                          or (empty demandsHouseProfileView.info.userEntity.communicationByIdCommunication.mobile)}"/>
                            <h:outputText
                                    value="#{demandsHouseProfileView.info.userEntity.communicationByIdCommunication.mobile}">
                            </h:outputText>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <h:commandButton id="msg-btn" type="button" onclick="PF('send-msg-dlg').show();"
                                 styleClass="btn btn-teal" value="Επικοινωνία"/>
            </div>
        </div>
        <p:dialog id="send-message-dlg" widgetVar="send-msg-dlg" width="625" height="400"
                  showEffect="scale" hideEffect="clip" closeOnEscape="true" fitViewport="true"
                  resizable="false"
                  header="Στείλτε ένα μήνυμα στον ιδιοκτήτη"
                >
            <div class="panel panel-brown flat-panel">
                <div class="panel-heading">
                    <div class="row text-center">
                        <span><i class="fa fa-send text-left"/> Αποστολή μηνύματος</span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="container center-block text-center">
                        <h:form id="messages" styleClass="col-md-7">
                            <fieldset >
                                <div class="row">
                                    <div class="text-center col-md-10 col-sm-6 center-block">
                                        <p:messages id="messages-send-msg" for="messages-send-messages" autoUpdate="true" closable="true" />
                                        <p:message for="msg-title" styleClass="top30"/>
                                        <p:message for="msg-text" styleClass="top30"/>
                                    </div>
                                </div>

                                <!-- Title -->
                                <div class="row form-group top30">
                                    <h:outputLabel value="Τίτλος μηνύματος" styleClass="col-md-4 control-label"
                                                   for="msg-title" />
                                    <div class="col-md-6 text-left">
                                        <h:inputText id="msg-title"
                                                     styleClass="form-control input-md"
                                                     title="Eισάγετε τον τίτλο του μηνύματος"
                                                     required="true"
                                                     requiredMessage="Είναι απαραίτητο να εισάγετε τον τίτλο του μηνύματος"
                                                     pt:placeholder="εισάγετε τον τίτλο του μηνύματος"
                                                     value="#{demandsHouseProfileView.message.title}"/>
                                    </div>
                                </div>

                                <!-- Message -->
                                <div class="row top30 form-group">
                                    <h:outputLabel styleClass="col-md-4 control-label" for="msg-text" value="Μήνυμα"/>
                                    <div class="col-md-6 text-left">
                                        <h:inputTextarea id="msg-text" rows="4"
                                                         styleClass="form-control input-md"
                                                         title="Eισάγετε το μήνυμα"
                                                         required="true"
                                                         requiredMessage="Είναι απαραίτητο να εισάγετε ένα μήνυμα"
                                                         pt:placeholder="εισάγετε το μήνυμα σας εδώ"
                                                         value="#{demandsHouseProfileView.message.message}" />
                                    </div>
                                </div>

                                <!-- Button -->
                                <div class="form-group row">
                                    <div class="text-center center-block">
                                        <h:commandButton value="Αποστολή" styleClass="btn btn-teal"
                                                         action="#{demandsHouseProfileView.sendMessage}"
                                                         update="messages">
                                            <f:ajax execute="@form" render="messages"/>
                                        </h:commandButton>
                                        <!--<f:ajax listener="{demandsHouseProfileView.sendMessage}"-->
                                        <!--render="@form"/>-->
                                    </div>
                                </div>
                            </fieldset>
                        </h:form>
                    </div>
                </div>
            </div>
        </p:dialog>
    </div>
</div>
<div class="row top30 bottom30">
    <div class="col-md-6">
        <div class="panel panel-materialGreenLight flat-panel">
            <div class="panel-heading">
                <div class="row text-center">
                    <span><i class="fa fa-location-arrow text-left"/> Τοποθεσία</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel value="Νομός"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <h:outputText value="#{demandsHouseProfileView.info.houseEntity.locationByIdLocation.state}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel value="Πόλη"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <h:outputText value="#{demandsHouseProfileView.info.houseEntity.locationByIdLocation.city}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel value="Οδός"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <h:outputText value="#{demandsHouseProfileView.info.houseEntity.locationByIdLocation.addressByIdAddress.roadName}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel value="Αριθμός"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <h:outputText value="#{demandsHouseProfileView.info.houseEntity.locationByIdLocation.addressByIdAddress.houseNumber}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <h:commandButton id="btn" type="button" onclick="PF('dlg').show();"
                                 styleClass="btn btn-teal" value="Προβολή χάρτη"/>
            </div>
        </div>
        <p:dialog id="gmapDialog" widgetVar="dlg" width="625" height="400" modal="true"
                  header="Πατήστε ESC για να κλείσετε το παράθυρο" closeOnEscape="true"
                  showEffect="scale" hideEffect="clip">
            <script type="text/javascript"
                    src="https://maps.googleapis.com/maps/api/js?sensor=true">
            </script>
            <p:gmap id="gmap"
                    center="#{demandsHouseProfileView.info.houseEntity.locationByIdLocation.latitude},
                                    #{demandsHouseProfileView.info.houseEntity.locationByIdLocation.longitude}" zoom="15" type="HYBRID"
                    model="#{demandsHouseProfileView.mapModel}"
                    style="width:600px;height:400px" streetView="true">
            </p:gmap>
        </p:dialog>
    </div>
    <div class="col-md-6">
        <div class="panel panel-materialBrownLight flat-panel">
            <div class="panel-heading">
                <div class="row text-center">
                    <span><i class="fa fa-money text-left"/> Κόστος</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel value="Κοινόχρηστα"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <h:outputText value="#{demandsHouseProfileView.info.houseEntity.publicExpenditure}">
                                <f:convertNumber currencySymbol="€" locale="el-GR" type="currency"
                                                 minFractionDigits="0" maxFractionDigits="2"/>
                            </h:outputText>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-right col-sm-5 col-xs-5">
                            <h:outputLabel value="Αξία"/>
                        </div>
                        <div class="col-md-4 text-left col-sm-6 col-xs-6">
                            <h:outputText value="#{demandsHouseProfileView.info.valueEntity.price}">
                                <f:convertNumber currencySymbol="€" locale="el-GR" type="currency"
                                                 minFractionDigits="0" maxFractionDigits="2"/>
                            </h:outputText>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <h:outputLabel value="Η τιμή είναι συζητήσιμη"
                               rendered="#{demandsHouseProfileView.info.valueEntity.negotiable eq 1}"/>
                <h:outputLabel value="Η τιμή δεν είναι συζητήσιμη"
                               rendered="#{demandsHouseProfileView.info.valueEntity.negotiable eq 0}"/>
            </div>
        </div>
    </div>
</div>

</div>
</div>
<!-- /house-profile -->
</ui:define>
</ui:composition>
