<ui:composition template="/WEB-INF/templates/offers/offers-layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:m="http://code.google.com/p/gmaps4jsf/">
<ui:define name="offers-title">Αναζήτηση σπιτιού</ui:define>
<ui:define name="offers-content">
<!-- welcome-msg -->
<div class="row">
    <div class="page-header text-center">
        <div class="panel panel-primary #{userStateBean.isCurrentRole('buyer')? 'panel-materialGreen' : 'panel-materialBluegrey'}">
            <div class="panel-heading text-left">
                <h4>
                    <strong>
                        <ui:fragment rendered="#{userStateBean.isCurrentRole('buyer')}">
                            Αγοραστής
                        </ui:fragment>
                        <ui:fragment rendered="#{userStateBean.isCurrentRole('lessee')}">
                            Ενοικιαστής
                        </ui:fragment>
                    </strong>
                </h4>
            </div>
            <div class="panel-body">
                <h4>Αναζήτησε το σπίτι που σου ταιριάζει</h4>
            </div>
        </div>
    </div>
</div>
<!-- /back-button -->
<!-- house-profile -->
<div class="row">
    <div class="container">
        <h:form styleClass="form-horizontal center-block" prependId="false" id="search-house">
            <fieldset>
                <div class="text-center" id="map">
                    <script type="text/javascript"
                            src="https://maps.googleapis.com/maps/api/js?sensor=true">
                    </script>
                    <h2 class="text-center">Χάρτης</h2>
                    <p:growl id="messages" showDetail="true" />

                    <p:gmap id="gmap" center="37.6779298,25.6647722,720316" zoom="6" type="HYBRID" style="width:1140px;height:400px"
                            model="#{searchHouseView.emptyModel}" onPointClick="handlePointClick(event);" widgetVar="map">
                        <p:ajax event="overlaySelect" listener="#{searchHouseView.onMarkerSelect}" update="messages" />
                    </p:gmap>
                </div>
            </fieldset>

            <p:fieldset legend="Αναζήτηση" toggleable="true" toggleSpeed="500" collapsed="true" id="search-toggle" styleClass="top30">
                <p:tabView prependId="false">
                    <p:tab title="Πληροφορίες">
                        <!-- Form Name -->
                        <legend class="text-center">Στοιχεία σπιτιού</legend>

                        <div class="row">
                            <div class="text-center col-md-12 col-sm-12 center-block">
                                <p:messages id="error-messages" for="house-info" autoUpdate="true" closable="true"/>
                            </div>
                        </div>

                        <!-- Info Titles -->
                        <div class="row form-group text-center house-profile-title">
                            <div class="col-md-6">
                                <h4 class="fa fa-home"> Γενικές πληροφορίες</h4>
                            </div>
                        </div>

                    <!-- Price -->
                        <div class="form-group row">
                            <h:outputLabel styleClass="col-md-3 text-right">Τιμή</h:outputLabel>
                            <div class="col-md-2">
                                <h:outputLabel>Από:</h:outputLabel>
                                <i class="fa fa-euro fa-fw"/>
                                <p:inputText value="#{searchHouseView.searchPack.searchHouse.fromPrice}" type="number"
                                             converterMessage="Επιτρέπονται αριθμοί μέχρι 2 δεκαδικά ψηφία" id="fromPrice-input"
                                             validatorMessage="Επιτρέπονται θετικοί αριθμοί για την τιμή">
                                    <f:convertNumber maxFractionDigits="2" minFractionDigits="0"/>
                                    <f:validateLongRange minimum="0"/>
                                </p:inputText>
                                <h:message for="fromPrice-input" styleClass="alert-danger"/>
                            </div>
                            <div class="col-md-2">
                                <h:outputLabel>Μέχρι:</h:outputLabel>
                                <i class="fa fa-euro fa-fw"/>
                                <p:inputText value="#{searchHouseView.searchPack.searchHouse.toPrice}" type="number"
                                             converterMessage="Επιτρέπονται αριθμοί μέχρι 2 δεκαδικά ψηφία" id="toPrice-input"
                                             validatorMessage="Επιτρέπονται θετικοί αριθμοί για την τιμή">
                                    <f:convertNumber maxFractionDigits="2" minFractionDigits="0"/>
                                    <f:validateLongRange minimum="0"/>
                                </p:inputText>
                                <h:message for="toPrice-input" styleClass="alert-danger"/>
                            </div>
                            <div class="col-md-offset-1">
                                <h:outputLabel>Βαρύτητα:</h:outputLabel>
                                <h:panelGrid columns="1">
                                    <p:inputText id="priceWeight" value="#{searchHouseView.searchPack.weight.price}" />
                                    <p:slider for="priceWeight" step="1" maxValue="5"/>
                                </h:panelGrid>
                            </div>
                        </div>
                        <!-- Negotiable price -->
                        <div class="form-group row">
                            <h:outputLabel styleClass="col-md-3 col-md-offset-1 text-right" for="negotiable">Συζητήσιμη</h:outputLabel>
                            <p:selectBooleanCheckbox styleClass="col-md-2 text-left" id="negotiable" value="#{searchHouseView.searchPack.searchHouse.negotiableABoolean}"/>
                        </div>

                        <!-- Square meters -->
                        <div class="form-group row top25">
                            <h:outputLabel styleClass="col-md-3 text-right">Εμβαδό</h:outputLabel>
                            <div class="col-md-2">
                                <h:outputLabel>Από:</h:outputLabel>
                                <strong>m<sup>2</sup></strong>
                                <p:inputText value="#{searchHouseView.searchPack.searchHouse.fromSq}"
                                             type="number" id="sqmtFrom-input"
                                             validatorMessage="Επιτρέπονται θετικοί αριθμοί για το εμβαδό">
                                    <f:validateLongRange minimum="0"/>
                                </p:inputText>
                                <h:message for="sqmtFrom-input" styleClass="alert-danger"/>
                            </div>
                            <div class="col-md-2">
                                <h:outputLabel>Μέχρι:</h:outputLabel>
                                <strong>m<sup>2</sup></strong>
                                <p:inputText value="#{searchHouseView.searchPack.searchHouse.toSq}"
                                             type="number" id="sqmtTo-input"
                                             validatorMessage="Επιτρέπονται θετικοί αριθμοί για το εμβαδό">
                                    <f:validateLongRange minimum="0"/>
                                </p:inputText>
                                <h:message for="sqmtTo-input" styleClass="alert-danger"/>
                            </div>
                            <div class="col-md-offset-1">
                                <h:outputLabel>Βαρύτητα:</h:outputLabel>
                                <h:panelGrid columns="1">
                                    <p:inputText id="sqWeight" value="#{searchHouseView.searchPack.weight.sq}" />
                                    <p:slider for="sqWeight" step="1" maxValue="5"/>
                                </h:panelGrid>
                            </div>
                        </div>

                        <!-- DateBuilt -->
                        <div class="form-group row">
                            <h:outputLabel styleClass="col-md-3 text-right">Ημ/νια δόμησης</h:outputLabel>
                            <div class="col-md-2">
                                <h:outputLabel>Από:</h:outputLabel>
                                <p:inputText value="#{searchHouseView.searchPack.searchHouse.formDateBuilt}" type="number" id="Fromdate-built-input"
                                             validatorMessage="Επιτρέπονται ημερομηνίες από το 1950 μέχρι και τη φετινή χρονιά">
                                    <f:validateLongRange minimum="1950" maximum="#{searchHouseView.curYear}"/>
                                </p:inputText>
                            </div>
                            <div class="col-md-2">
                                <h:outputLabel>Μέχρι:</h:outputLabel>
                                <p:inputText value="#{searchHouseView.searchPack.searchHouse.toDateBuilt}" type="number" id="Todate-built-input"
                                             validatorMessage="Επιτρέπονται ημερομηνίες από το 1950 μέχρι και τη φετινή χρονιά">
                                    <f:validateLongRange minimum="1950" maximum="#{searchHouseView.curYear}"/>
                                </p:inputText>
                            </div>
                            <div class="col-md-offset-1">
                                <h:outputLabel>Βαρύτητα:</h:outputLabel>
                                <h:panelGrid columns="1">
                                    <p:inputText id="dateBuiltWeight" value="#{searchHouseView.searchPack.weight.dateBuilt}" />
                                    <p:slider for="dateBuiltWeight" step="1" maxValue="5"/>
                                </h:panelGrid>
                            </div>
                        </div>

                        <!-- Renovation date -->
                        <div class="form-group row">
                            <h:outputLabel styleClass="col-md-3 text-right">Ημ/νια ανακαίνισης</h:outputLabel>
                            <div class="col-md-2">
                                <h:outputLabel>Από:</h:outputLabel>
                                <p:inputText value="#{searchHouseView.searchPack.searchHouse.fromDateRenovation}"
                                             type="number" id="Fromrenovation-built-input"
                                             validatorMessage="Επιτρέπονται ημερομηνίες από το 1950 μέχρι και τη φετινή χρονιά">
                                    <f:validateLongRange minimum="1950" maximum="#{searchHouseView.curYear}"/>
                                </p:inputText>
                            </div>
                            <div class="col-md-2">
                                <h:outputLabel>Μέχρι:</h:outputLabel>
                                <p:inputText value="#{searchHouseView.searchPack.searchHouse.toDateRenovation}"
                                             type="number" id="Torenovation-built-input"
                                             validatorMessage="Επιτρέπονται ημερομηνίες από το 1950 μέχρι και τη φετινή χρονιά">
                                    <f:validateLongRange minimum="1950" maximum="#{searchHouseView.curYear}"/>
                                </p:inputText>
                            </div>
                            <div class="col-md-offset-1">
                                <h:outputLabel>Βαρύτητα:</h:outputLabel>
                                <h:panelGrid columns="1">
                                    <p:inputText id="dateRenovationWeight" value="#{searchHouseView.searchPack.weight.renovationDate}" />
                                    <p:slider for="dateRenovationWeight" step="1" maxValue="5"/>
                                </h:panelGrid>
                            </div>
                        </div>
                        <!--/location-related-->

                        <!-- Public expenditure -->
                        <div class="form-group row">
                            <h:outputLabel styleClass="col-md-3 text-right">Κοινόχρηστα</h:outputLabel>
                            <div class="col-md-2">
                                <h:outputLabel>Από:</h:outputLabel>
                                <i class="fa fa-euro fa-fw"/>
                                <p:inputText value="#{searchHouseView.searchPack.searchHouse.fromPublicExpenditure}" type="number"
                                             id="Frompublic-expend-input"
                                             validatorMessage="Επιτρέπονται θετικοί αριθμοί για τα κοινόχρηστα">
                                    <f:convertNumber maxFractionDigits="2" minFractionDigits="0"/>
                                    <f:validateLongRange minimum="0"/>
                                </p:inputText>
                                <h:message for="Frompublic-expend-input" styleClass="alert-danger"/>
                            </div>
                            <div class="col-md-2">
                                <h:outputLabel>Μέχρι:</h:outputLabel>
                                <i class="fa fa-euro fa-fw"/>
                                <p:inputText value="#{searchHouseView.searchPack.searchHouse.toPublicExpenditure}" type="number"
                                             id="Topublic-expend-input"
                                             validatorMessage="Επιτρέπονται θετικοί αριθμοί για τα κοινόχρηστα">
                                    <f:convertNumber maxFractionDigits="2" minFractionDigits="0"/>
                                    <f:validateLongRange minimum="0"/>
                                </p:inputText>
                                <h:message for="Topublic-expend-input" styleClass="alert-danger"/>
                            </div>
                            <div class="col-md-offset-1">
                                <h:outputLabel>Βαρύτητα:</h:outputLabel>
                                <h:panelGrid columns="1">
                                    <p:inputText id="public-expendWeight" value="#{searchHouseView.searchPack.weight.publicExpenditure}" />
                                    <p:slider for="public-expendWeight" step="1" maxValue="5"/>
                                </h:panelGrid>
                            </div>
                        </div>

                        <!-- Heating info -->
                        <div class="form-group row">
                            <h:outputLabel styleClass="col-md-3 text-right ">Θέρμανση</h:outputLabel>
                            <div class="col-md-2 top25">
                                <p:inputText value="#{searchHouseView.searchPack.searchHouse.heating}" type="text"/>
                            </div>
                        </div>
                        <!-- House type & Floors -->
                        <div class="form-group row" id="house-type-selector">
                            <h:outputLabel styleClass="col-md-3 text-right">Είδος κατοικίας</h:outputLabel>
                            <div class="col-md-2 top25">
                                <p:selectOneMenu value="#{searchHouseView.houseType}" effect="none">
                                    <f:selectItem itemLabel="" itemValue="" />
                                    <f:selectItem itemLabel="Διαμέρισμα" itemValue="Διαμέρισμα" />
                                    <f:selectItem itemLabel="Μονοκατοικία" itemValue="Μονοκατοικία" />
                                    <p:ajax event="change" update="floors-label floors-label-end"
                                            listener="#{searchHouseView.houseTypeChanged}" />
                                </p:selectOneMenu>
                            </div>
                        </div>

                        <!-- Floors -->
                        <div class="form-group row">
                            <p:outputLabel styleClass="col-md-3 text-right" id="floors-label"
                                           value="#{searchHouseView.floorsLabel}"/>
                            <div class="col-md-2 top25">
                                <p:inputText value="#{searchHouseView.searchPack.searchHouse.floor}" type="number"
                                             id="floors-input"
                                             validatorMessage="Επιτρέπονται θετικοί αριθμοί για τον όροφο">
                                    <f:convertNumber maxFractionDigits="0"/>
                                    <f:validateLongRange minimum="-1"/>
                                </p:inputText>
                                <h:message for="floors-input" styleClass="alert-danger"/>
                                <p:outputLabel styleClass="text-right text-muted" id="floors-label-end"
                                               value="&#160;#{searchHouseView.floorsLabelEnd}"/>
                            </div>
                        </div>
                    </p:tab>
                    <p:tab title="Τοποθεσια">
                        <div class="container center-block text-center">
                        <div class="row">
                            <div class="text-center col-md-12 col-sm-12 center-block">
                                <p:messages id="error-messages2" for="house-info" autoUpdate="true" closable="true"/>
                            </div>
                        </div>

                        <!-- Info Titles -->
                        <div class="row form-group text-center house-profile-title">
                                <h4 class="fa fa-location-arrow"> Περιοχή</h4>
                        </div>

                        <!-- State -->
                        <div class="form-group row">
                            <h:outputLabel styleClass="col-md-3 col-md-offset-1 text-right">Νομός</h:outputLabel>
                            <div class="col-md-4">
                                <p:inputText value="#{searchHouseView.searchPack.searchHouse.locationEntity.state}" type="text"/>
                            </div>
                        </div>

                        <!-- City -->
                        <div class="form-group row top25">
                            <h:outputLabel styleClass="text-right col-md-3 col-md-offset-1">Πόλη</h:outputLabel>
                            <div class="col-md-4">
                                <p:inputText value="#{searchHouseView.searchPack.searchHouse.locationEntity.city}" type="text"/>
                            </div>
                        </div>

                        <!-- Roadname -->
                        <div class="form-group row">
                            <h:outputLabel styleClass="col-md-3 col-md-offset-1 text-right">Οδός</h:outputLabel>
                            <div class="col-md-4">
                                <p:inputText value="#{searchHouseView.searchPack.searchHouse.addressEntity.roadName}" type="text"/>
                            </div>
                        </div>

                        <!-- HouseNumber -->
                        <div class="form-group row">
                            <h:outputLabel styleClass="col-md-3 col-md-offset-1 text-right">Αριθμός</h:outputLabel>
                            <div class="col-md-4">
                                <p:inputText value="#{searchHouseView.searchPack.searchHouse.addressEntity.houseNumber}" type="number"/>
                            </div>
                        </div>
                        </div>
                    </p:tab>
                    <p:tab title="Αλγόριθμοι αναζήτησης">
                        <h3 class="text-center"><i class="fa fa-cogs"/> Αλγόριθμοι αναζήτησης</h3>
                                <p:outputLabel for="algorithms" value="Αλγόριθμοι:" />
                                <p:selectOneRadio id="algorithms" value="#{searchHouseView.searchPack.selectedAlgorithm}"  layout="grid" columns="1" var="algorithms">
                                    <f:selectItems value="#{searchHouseView.algorithms}" var="algo" itemLabel="#{algorithms}" itemValue="#{algorithms}"/>
                                </p:selectOneRadio>
                    </p:tab>
                </p:tabView>


                <script type="text/javascript">
                    var currentMarker = null;

                    function handlePointClick(event) {
                        if(currentMarker === null) {
                            document.getElementById('lat').value = event.latLng.lat();
                            document.getElementById('lng').value = event.latLng.lng();

                            currentMarker = new google.maps.Marker({
                                position:new google.maps.LatLng(event.latLng.lat(), event.latLng.lng())
                            });

                            PF('map').addOverlay(currentMarker);

                            PF('dlg').show();
                        }
                    }

                    function markerAddComplete() {
                        var title = document.getElementById('title');
                        currentMarker.setTitle(title.value);
                        title.value = "";

                        currentMarker = null;
                        PF('dlg').hide();
                    }

                    function cancel() {
                        PF('dlg').hide();
                        currentMarker.setMap(null);
                        currentMarker = null;

                        return false;
                }
            </script>
                <div class="form-group row top1">
                    <div class="text-center center-block">
                        <h:commandButton value="Αναζήτηση" styleClass="btn btn-success btn-teal top30"
                                         id="search-btn"
                                         action="#{searchHouseView.search}" update="searchHouse search-toggle"
                                         onclick="">
                            <f:ajax execute="@form" render="housesValues search-toggle"/>
                        </h:commandButton>
                    </div>
                </div>
            </p:fieldset>
        </h:form>
        <p:dataGrid var="hv" value="#{searchHouseView.searchResultsList}" columns="2"
                    rows="10" paginator="true" id="housesValues"
                    paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                    rowsPerPageTemplate="6,10,14"
                    styleClass="table table-striped table-hover admin-datatable"
                    emptyMessage="Δεν βρέθηκαν αποτελέσματα!"
                >
            <f:facet name="header">
                Εμφάνιση αποτελεσμάτων
            </f:facet>
            <p:panel styleClass="text-center house-panel">
                <f:facet name="header">
                    <h:outputLabel styleClass="text-center">
                        #{hv.houseEntity.locationByIdLocation.state},
                        #{hv.houseEntity.locationByIdLocation.city}<br/>
                        #{hv.houseEntity.locationByIdLocation.addressByIdAddress.roadName}
                        #{hv.houseEntity.locationByIdLocation.addressByIdAddress.houseNumber}
                    </h:outputLabel>
                </f:facet>
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <ui:fragment rendered="#{hv.houseEntity.apartment eq 1}">
                                <i class="fa fa-building fa-4x color-orangeBrown"/>
                            </ui:fragment>
                            <ui:fragment rendered="#{hv.houseEntity.apartment eq 0}">
                                <i class="fa fa-home fa-4x color-orangeBrown"/>
                            </ui:fragment>
                        </div>
                        <div class="col-md-6 text-right">
                            <strong>Τιμή πώλησης&#160;</strong>
                            <h:outputText value="#{hv.valueEntity.price}">
                                <f:convertNumber locale="el-GR"
                                                 currencySymbol="€"
                                                 maxFractionDigits="0"
                                                 type="currency" />
                            </h:outputText>
                            <br/>
                            <strong>Ημ/νια δόμησης&#160;</strong>
                            <h:outputText value="#{hv.houseEntity.dateBuilt}"/>
                            <br/>
                            <strong>Εμβαδό </strong>
                            <h:outputText value="#{hv.houseEntity.sq}"/>
                            <strong>τ.μ.</strong>
                            <br/>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- House -->
                            <ui:fragment rendered="#{hv.houseEntity.apartment eq 0}">
                                Σπίτι με
                                <h:outputText value="#{hv.houseEntity.floor}"/>
                                <ui:fragment rendered="#{hv.houseEntity.floor eq 1}">
                                    όροφο
                                </ui:fragment>
                                <ui:fragment rendered="#{hv.houseEntity.floor > 1}">
                                    ορόφους
                                </ui:fragment>
                            </ui:fragment>
                            <!-- Appartment -->
                            <ui:fragment rendered="#{hv.houseEntity.apartment eq 1}">
                                Διαμέρισμα στον <h:outputText value="#{hv.houseEntity.floor}"/>
                                όροφο
                            </ui:fragment>
                        </div>
                        <div class="col-md-6 text-right">
                            <h:form id="searchHouse">
                            <h:commandButton value="Περισσότερα" styleClass="btn btn-success"
                                             action="#{searchHouseView.viewThisHouse}">
                                <f:setPropertyActionListener value="#{hv}" target="#{searchHouseView.selectedHouse}"/>
                            </h:commandButton>
                            </h:form>
                        </div>
                    </div>
                </div>
            </p:panel>
        </p:dataGrid>
    </div>
    </div>
<!-- /house-profile -->
<h:outputScript name="jquery/jquery-plugins.js" library="primefaces"/>
</ui:define>
</ui:composition>
