<ui:composition template="/WEB-INF/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:define name="title">
        <ui:fragment rendered="#{userStateBean.isCurrentRole('salesman')}">
            Πωλητές
        </ui:fragment>
        <ui:fragment rendered="#{userStateBean.isCurrentRole('lessor')}">
            Εκμισθωτές
        </ui:fragment>
        <ui:fragment rendered="#{userStateBean.isCurrentRole('buyer')}">
            Αγοραστές
        </ui:fragment>
        <ui:fragment rendered="#{userStateBean.isCurrentRole('lessee')}">
            Ενοικιαστές
        </ui:fragment>
        &#183;
        <ui:insert name="offers-title">Default offers page title</ui:insert>
    </ui:define>
    <ui:define name="content">
        <!-- 2nd navbar -->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header" id="offers-navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#offers-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h:link styleClass="pull-left btn btn-teal return-to-home-btn bottom10" outcome="/index">
                        <i class="fa fa-arrow-circle-left"/>&#160;
                        Επιστροφή στην αρχική
                    </h:link>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <ui:fragment rendered="#{userStateBean.isCurrentRole('salesman') or userStateBean.isCurrentRole('lessor')}">
                    <div class="collapse navbar-collapse navbar-right" id="offers-navbar">
                        <ui:insert name="offers-navigation">
                            <ul class="nav navbar-nav">
                                <li class="#{view.viewId == '/offers/landing.xhtml' ? 'active' : ''}">
                                    <h:link outcome="/offers/landing.xhtml">
                                        <i class="fa fa-home fa-fw fa-2x"/>
                                        Επισκόπηση οικημάτων
                                    </h:link>
                                </li>
                                <li class="#{view.viewId == '/offers/add-house.xhtml' ? 'active' : ''}">
                                    <h:link outcome="/offers/add-house.xhtml">
                                        <i class="fa fa-plus-circle fa-fw fa-2x"/>
                                        Προσθήκη κατοικίας
                                    </h:link>
                                </li>
                            </ul>
                        </ui:insert>
                    </div><!-- /.navbar-collapse -->
                </ui:fragment>
            </div>
        </nav>
        <!-- /2nd navbar -->
        <!-- Content -->
        <div class="container">

            <ui:insert name="offers-content">
                Default offers page content
            </ui:insert>
        </div>
    </ui:define>
</ui:composition>
