

#access-denied-page {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #EEEEEE;

  #denied-alert {
    margin-top: 2em;
    #denied-warning-icon {
      @media(max-width:767px){ font-size: 2.3em;}
      @media(min-width:768px){ font-size: 2.5em;}
      @media(min-width:992px){ font-size: 2.8em; }
      @media(min-width:1200px){ font-size: 4em; }
      padding-top: .5em;
    }

    #denied-msg {
      padding-left: 1%;
      padding-bottom: 2em;
      @media(max-width:767px){ font-size: 1em;}
      @media(min-width:768px){ font-size: 1.3em;}
      @media(min-width:992px){ font-size: 1.5em; }
      @media(min-width:1200px){ font-size: 1.6em; }
    }
  }
}