@import "colors";
// Admin > Datatable > Profile link column
// Overriding with bootstrap link color
.admin-link-text {
  color: $materialTeal;
}

.admin-datatable > thead > tr > th {
  // removing the pointer from tHeader
  background-image: none;
  border-bottom: 1px $materialTeal solid;
  cursor: default;
}

