

$veraman: #046380;
$darkVeraman: #105B63;
$creme: #FFFAD5;
$orangeYellow: #FFD34E;
$orangeBrown: #DB9E36;
$darkOrange: #BD4932;
$paleCyan: #9acfea;
$materialBrown: #795548;
$materialTeal: #009688;
$materialPaleTeal: #e0f2f1;
$materialBlueGrey: #607d8b;
$materialGreen: #72D572;
$materialGreenLight: #8bc34a;
$materialRed: #E51C23;
$materialBrownLight: #a1887f;
$materialOrange: #ef6c00;

.color-veraman { color: $veraman; }
.color-darkVeraman { color: $darkVeraman; }
.color-creme { color: $creme; }
.color-orangeYellow { color: $orangeYellow; }
.color-orangeBrown { color: $orangeBrown; }
.color-darkOrange { color: $darkOrange; }
.color-materialBrown { color: $materialBrown; }
.color-materialTeal { color: $materialTeal; }
.color-materialGreen { color: $materialGreen; }
.color-materialGreenLight { color: $materialGreenLight; }
.color-materialOrange { color: $materialOrange; }
.color-materialRed { color: $materialRed; }
.color-materialBrownLight {
  color: $materialBrownLight;
  &:hover {
    color: lighten($materialBrownLight, 10%);
    text-decoration: none;
  }
}
.color-materialBlueGrey { color: $materialBlueGrey; }
.color-materialPaleTeal { color: $materialPaleTeal; }