@import "mixins";
@import "colors";

.image-container {
  position: relative;
  float: left;
  clear: both;
  margin: 0 auto;
  img {
    vertical-align: bottom;
  }
  .img-desc {
    color: whitesmoke;
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    background-color: rgba(darken($materialTeal, 5%), 0.75);
    bottom: 0px;
    left: 0px;
    @include responsive-font(1.1em, 1.2em, 1.25em, 1.3em);
    @include letterpress(.7);
//    font-weight: 300;
    padding: 6px 0;
    font-family: 'Open Sans', sans-serif;
  }
}

.flat-panel {
  border-bottom: 3px solid gray !important;
  $radius: 1px;
  border-radius: $radius;

  .panel-heading {
    font-family: 'Open Sans', sans-serif;
    @include responsive-font(1.2em, 1.4em, 1.5em, 1.6em);
    font-weight: 300;
    padding: 8px;
    border: 0;
    border-radius: $radius $radius 0 0;
    vertical-align: middle;
  }
  .panel-footer {
    background-color: lighten(lightgray, 10%);
    label {
      @include responsive-font(1em, 1.1em, 1.15em, 1.2em);
      color: $materialTeal !important;
      font-weight: 300 !important;
      &:hover {
        color: $materialTeal;
      }
    }
    a {
      @include responsive-font(1em, 1.1em, 1.15em, 1.2em);
      color: $materialTeal !important;
      font-weight: 300 !important;
      &:hover {
        color: $materialTeal;
      }
    }
  }
}
