

// Red error panel with box shadow
.panel-msg-container {
  color: bisque;
  margin-top: 2em;
  padding-bottom: 2em;
  padding: 0;
  border-radius: 3px;

  i.msg-icon {
    border: 4px solid;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 2px;
    box-shadow: 1px 1px 3px darken(bisque, 40%);
    position: relative;
    top: 0px;
    left: 9px;
    @media(max-width:500px){ font-size: 2em; left: 14px;}
    @media(max-width:767px){ font-size: 2.1em; left: 10px;}
    @media(min-width:768px){ font-size: 2.2em;}
    @media(min-width:992px){ font-size: 2.3em; }
    @media(min-width:1200px){ font-size: 2.4em; }
    padding-top: .5em;
  }

  .text-msg {
    padding-left: 1%;
    padding-right: 1%;
    @media(max-width:767px){ font-size: 1em;}
    @media(min-width:768px){ font-size: 1.3em;}
    @media(min-width:992px){ font-size: 1.5em; }
    @media(min-width:1200px){ font-size: 1.6em; }
  }
}

.panel-msg-container-teal {
  @extend .panel-msg-container;
  color: bisque;
  background-color: $materialTeal;
  box-shadow: 0px 0px 4px $materialTeal, 1px 1px 3px $materialTeal !important;
  i.msg-icon {
    box-shadow: 1px 1px 3px darken(bisque, 40%);
  }
}

.panel-msg-container-brown {
  @extend .panel-msg-container;
  color: bisque;
  background-color: rgba($materialBrown, .7);
  $shadow-color: lighten($materialBrown, 10%);
  box-shadow: 0px 0px 4px $shadow-color, 1px 1px 3px $shadow-color !important;
  i.msg-icon {
    box-shadow: 1px 1px 3px darken(bisque, 40%);
  }
}

.panel-msg-container-red {
  @extend .panel-msg-container;
  color: bisque;
  background-color: rgba($materialRed, .6);
  $shadow-color: lighten($materialRed, 10%);
  box-shadow: 0px 0px 4px $shadow-color, 1px 1px 3px $shadow-color !important;
  i.msg-icon {
    box-shadow: 1px 1px 3px darken(bisque, 40%);
  }
}