

@mixin letterpress($opacity: 0.5){
  text-shadow: 0 1px 0 rgba(255,255,255, $opacity);
}

@mixin responsive-font($f1, $f2, $f3, $f4) {
  @media(max-width:767px){ font-size: $f1; }
  @media(min-width:768px){ font-size: $f2; }
  @media(min-width:992px){ font-size: $f3; }
  @media(min-width:1200px){ font-size: $f4; }
}