@import "mixins";

// House panel heading
.house-panel-teal {
  .ui-panel-titlebar {
    background-color: $materialTeal;
    color: darken(#ffffff, 1%);
  }
}

.house-panel-brown {
  .ui-panel-titlebar {
    background-color: $materialBrown;
    color: darken(#ffffff, 1%);
  }
}

#house-profile {
  @media(max-width:767px){ font-size: 1.2em;}
  @media(min-width:768px){ font-size: 1.2em;}
  @media(min-width:992px){ font-size: 1.3em; }
  @media(min-width:1200px){ font-size: 1.3em; }
}

.house-profile-title{
  color: $materialBrown;
  @media(max-width:767px){ font-size: 1.2em;}
  @media(min-width:768px){ font-size: 1.2em;}
  @media(min-width:992px){ font-size: 1.3em; }
  @media(min-width:1200px){ font-size: 1.4em; }
}

#house-type-selector {
  .ui-inplace-editor {
    margin-left: 0.7em;
    position: relative;
    top: -9px;
  }
}

#delete-house-msg {
  .ui-messages-error-detail {
    display: inline-block;
    margin-top: 5px;
  }
}


.house-panel {
  font-family: 'Open Sans', sans-serif !important;
  .ui-panel-titlebar > .ui-panel-title {
    label {
      font-family: 'Open Sans', sans-serif !important;
      font-weight: 400;
      font-size: 1.2em;
    }
    .unread-messages-msg {
      font-weight: 400 !important;
      font-size: 1.3em;
      color: saturate(bisque, 20%);
//      background-color: rgba($materialPaleTeal, .1);
//      border-radius: 1px;
//      box-shadow: 0 0 2px white inset;
      padding: 0 4px;
      margin: 14px 0 0;
    }
  }
}
