

#offers-navbar-header {
  .return-to-home-btn {
    @media(max-width:767px){ margin-top: 6px; }
    @media(min-width:768px){ margin-top: 12px;}
    @media(min-width:992px){ margin-top: 12px; }
    @media(min-width:1200px){ margin-top: 12px; }
  }
}

#salesman-navbar{
  i {
    position: relative;
    top: 4px;
  }
}

.my-bigger-breadcrumb {
  background-color: rgba($materialPaleTeal, .7);
  @media(max-width:767px){ font-size: 1.2em; }
  @media(min-width:768px){ font-size: 1.3em; }
  @media(min-width:992px){ font-size: 1.4em; }
  @media(min-width:1200px){ font-size: 1.4em; }
}