

#search-toggle {
  .ui-fieldset-legend {
    width: 16%;
    border-radius: 1px;
    background-color: $materialPaleTeal;
    background-image: none;
    span {
      float: left !important;
      position: relative;
      top: 10px;
      left: -6px;
    }
  }
}


#algorithms {
  tr {
    td:first-child {
      .ui-radiobutton-icon {
        position: relative;
        top: -2px;
        left: -2px;
      }
    }
    // Fix description placing
    td:last-child {
      padding: 0px 10px 5px !important;
    }
  }
}