@import "colors";
@import "access-denied";
@import "not-yet";
@import "admin-dashboard";
@import "sales";
@import "offers-houses";
@import "demands-houses";
@import "messages";
@import "mixins";
@import "search";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600&subset=latin,greek);

html {
  //noinspection CssUnknownTarget
  background-image: url('../resources/img/stardust.png');
}

body {
  font-family: 'Open Sans', sans-serif !important;
  padding-bottom: 0;
  margin-bottom: 0;
}

// Overwrite primefaces font
.ui-widget, .ui-widget .ui-widget {
  font-family: 'Open Sans', sans-serif !important;
}

#footer {
  //noinspection CssUnknownTarget
  background-image: url("../resources/img/stardust.png");
  color: whitesmoke;
  @include letterpress(.7);
  text-align: center;
  @include responsive-font(1em, 1.1em, 1.2em, 1.3em);
  padding-top: 1.5em;
  padding-bottom: 1em;
}

// Overriding Primefaces styles
#login\:error-messages {
  .ui-messages-error {
    width: 50%;
    margin: 0 auto .8em auto;
  }
}

// Removing the ugly icon of Primefaces error message
// Add this class via jQuery's .addClass function
.remove-ugly-error-icon {
  background: none;
}

// Adding space to the top
.top1 { margin-top:1px; }
.top3 { margin-top:3px; }
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top25 { margin-top:25px; }
.top30 { margin-top:30px; }

// Adding space to the bottom
.bottom1 { margin-bottom:1px; }
.bottom3 { margin-bottom:3px; }
.bottom5 { margin-bottom:5px; }
.bottom7 { margin-bottom:7px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom17 { margin-bottom:17px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }

// Adding space to the left
.left1 { margin-left:1px !important; }
.left3 { margin-left:3px !important; }
.left5 { margin-left:5px !important; }
.left7 { margin-left:7px !important; }
.left10 { margin-left:10px !important; }
.left15 { margin-left:15px !important; }
.left17 { margin-left:17px; }
.left25 { margin-left:25px; }
.left30 { margin-left:30px; }


// Sign out button
#sign-out-li {
  background-color: #f2dede;
  border-color: #ebccd1;
  &:hover {
    background-color: darken(#f2dede, 10%);
  }
  a {
    padding-bottom: 6px;
    padding-top: 1px;
    i {
      font-size: 1.7em;
      position: relative;
      top: 3px;
      left: -2px;
    }
    &:hover {
      text-decoration: none;
    }
  }
}

// Username at navbar
#navbar-username {
  #navbar-username-txt {
    font-weight: bold;
    color: lighten(#777, 25%);
  }
  &:hover {
    #navbar-username-txt {
      color: lighten(#777, 40%);
    }
  }
}

// Breadcrumb
.my-breadcrumb {
  padding: 0;
  width: 100%;
  ol {

    text-align: center;
    padding-top: 16px;
    // Icon
    i {
      @media(max-width:767px){ font-size: 1.2em;}
      @media(min-width:768px){ font-size: 1.2em;}
      @media(min-width:992px){ font-size: 1.3em; }
      @media(min-width:1200px){ font-size: 1.4em; }
    }
  }
}

.role-text {
  margin-top: 14px;
  text-align: center;
  @media(max-width:767px){ font-size: 1.8em;}
  @media(min-width:768px){ font-size: 1.9em;}
  @media(min-width:992px){ font-size: 2em; }
  @media(min-width:1200px){ font-size: 2em; }
}

.panel-disabled {
  border-color: darkgray;
  .panel-heading {
    color: gray;
    background-color: lighten(darkgray, 5%);
    border-color: darkgray;
  }
  a, .panel-footer {
    color: gray;
    &:hover {
      color: darken(gray, 15%);
    }
  }
}

.well-3d {
  border-color: $materialBrown;
  box-shadow: 1px 1px 1px darken($materialBrown, 20%);
}

.dropdown-link {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857;
  color: #333;
  white-space: nowrap;
  &:hover, &:focus {
    color: #262626;
    text-decoration: none;
    background-color: #F5F5F5;
  }
}

// Make growl appear below navbar
.ui-growl {
  top: 60px !important;
}

// Error well styling
.error-well {
  color: gray;
  p {
    font-weight: bold;
    @media(max-width:767px){ font-size: 1.1em;}
    @media(min-width:768px){ font-size: 1.2em;}
    @media(min-width:992px){ font-size: 1.3em; }
    @media(min-width:1200px){ font-size: 1.3em; }
  }
  ul {
    color: darken(gray, 20%) !important;
  }
}

.dark-jumbotron {
  color: white !important;
  //noinspection CssUnknownTarget
  background-image: url("../resources/img/stardust.png");
  border-bottom: 1px solid rgba(gray, .5);
  border-bottom: 0;
}

.jumbotron {
  margin-bottom: 0;
}

.my-dark-navbar {
  color: whitesmoke !important;
  //noinspection CssUnknownTarget
  background-image: url("../resources/img/stardust.png");
  border-bottom: 0px solid rgba(gray, .5);
  .navbar-brand {
    color: lightgrey;
    &:hover {
      color: whitesmoke;
    }
  }
}

.open {
  background-color: rgba(black, 0) !important;
  .dropdown-toggle {
    background-color: grey;
  }
}

.my-dark-navbar-text {
  color: lightgrey !important;
  &:hover {
    color: whitesmoke !important;
  }
}

.panel-teal {
  border-color: lighten($materialTeal, 1%);
  .panel-heading {
    color: whitesmoke !important;
    background-color: $materialTeal !important;
    border-color: lighten($materialTeal, 10%) !important;
  }
  a, .panel-footer {
    color: $materialTeal;
    &:hover {
      color: darken($materialTeal, 10%);
    }
  }
}

.panel-brown {
  border-color: lighten($materialBrown, 10%);
  .panel-heading {
    color: whitesmoke !important;
    background-color: $materialBrown !important;
    border-color: lighten($materialBrown, 10%) !important;
  }
  a, .panel-footer {
    color: $materialBrown;
    &:hover {
      color: darken($materialBrown, 10%);
    }
  }
}

.panel-bluegrey {
  color: whitesmoke !important;
  background-color: $materialBlueGrey !important;
  border-color: lighten($materialBlueGrey, 10%) !important;
  a, .panel-footer {
    color: $materialBlueGrey;
    &:hover {
      color: darken($materialBlueGrey, 10%);
    }
  }
}

.panel-materialBluegrey {
  border-color: darken($materialBlueGrey, 20%);
  .panel-heading {
    color: whitesmoke !important;
    background-color: $materialBlueGrey !important;
    border-color: lighten($materialBlueGrey, 10%) !important;
  }
  a, .panel-footer {
    color: $materialBlueGrey;
    &:hover {
      color: darken($materialBlueGrey, 10%);
    }
  }
}

.panel-materialOrange {
  border-color: darken($materialOrange, 20%);
  .panel-heading {
    color: whitesmoke !important;
    background-color: $materialOrange !important;
    border-color: lighten($materialOrange, 10%) !important;
  }
  a, .panel-footer {
    color: $materialOrange;
    &:hover {
      color: darken($materialOrange, 10%);
    }
  }
}

.panel-materialBrownLight {
  border-color: darken($materialBrownLight, 20%);
  .panel-heading {
    color: whitesmoke !important;
    background-color: $materialBrownLight !important;
    border-color: lighten($materialBrownLight, 10%) !important;
  }
  a, .panel-footer {
    color: $materialBrownLight;
    &:hover {
      color: darken($materialBrownLight, 10%);
    }
  }
}

.panel-materialGreenLight {
  border-color: darken($materialGreenLight, 20%);
  .panel-heading {
    color: whitesmoke !important;
    background-color: $materialGreenLight !important;
    border-color: lighten($materialGreenLight, 10%) !important;
  }
  a, .panel-footer {
    color: $materialGreenLight;
    &:hover {
      color: darken($materialGreenLight, 10%);
    }
  }
}

.panel-materialGreen {
  border-color: lighten($materialGreen, 10%);
  .panel-heading {
    color: whitesmoke !important;
    background-color: $materialGreen !important;
    border-color: lighten($materialGreen, 10%) !important;
  }
  a, .panel-footer {
    color: $materialGreen;
    &:hover {
      color: darken($materialGreen, 10%);
    }
  }
}

.btn-teal {
  color: whitesmoke !important;
  background-color: $materialTeal;
  border-color: $materialTeal !important;
  outline: none;
  &:hover, &:focus {
    box-shadow: inset 0 3px 5px rgba(darken($materialTeal, 10%), .4),
    inset 0 4px 5px darken($materialTeal, 3%), inset 0 7px 5px darken($materialTeal, 3%);
    background-color: darken($materialTeal, 5%);
    outline: none;
  }
  &:active {
    outline: none;
    background-color: darken($materialTeal, 7%);
    border-color: darken($materialTeal, 10%);
  }
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600;
}

.btn-green {
  color: whitesmoke !important;
  background-color: $materialGreenLight;
  border-color: $materialGreenLight !important;
  outline: none;
  &:hover, &:focus {
    box-shadow: inset 0 3px 5px rgba(darken($materialGreenLight, 10%), .4),
    inset 0 4px 5px darken($materialGreenLight, 3%), inset 0 7px 5px darken($materialGreenLight, 3%);
    background-color: darken($materialGreenLight, 5%);
    outline: none;
  }
  &:active {
    outline: none;
    background-color: darken($materialGreenLight, 7%);
    border-color: darken($materialGreenLight, 10%);
  }
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600;
}

.btn-bluegrey {
  color: whitesmoke !important;
  background-color: $materialBlueGrey !important;
  border-color: $materialBlueGrey !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600;
}

.btn-brown {
  color: whitesmoke !important;
  background-color: $materialBrown !important;
  border-color: lighten($materialBrown, 6%) !important;
  font-family: 'Open Sans', sans-serif !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600;
}

.btn-paleteal {
  color: whitesmoke !important;
  background-color: $materialPaleTeal !important;
  border-color: lighten($materialPaleTeal, 6%) !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600;
}

.btn-brownlight {
  font-weight: bold;
  color: lighten(bisque, 10%) !important;
  background-color: $materialBrownLight !important;
  border-color: lighten($materialBrownLight, 6%) !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600;
}

.home-panels {
  .panel-header {
    text-align: center;
    @include responsive-font(1.5em, 1.6em, 1.7em, 1.8em);
    font-weight: 300;
  }
  .panel-body-text {
    @include responsive-font(1em, 1.1em, 1.2em, 1.3em);
  }
}

#login {
  padding: .5em .8em .5em .8em;
  background-color: rgba(darken(gray, 10%), .4);
  border: 1px solid gray;
  border-radius: 1px;
  .control-label {
    font-weight: 300;
    @include responsive-font(1em, 1.1em, 1.2em, 1.3em);
  }
  .login-form-name {
    padding-bottom: 5px;
    font-weight: 300;
      @include letterpress(0.5);
    @include responsive-font(1.5em, 1.6em, 1.9em, 1.95em);
  }
}

.important-msg {
  font-size: 1.1em;
  @include letterpress(.7);
  background-color: rgba($materialOrange, .5);
  font-weight: 300;
}

.bold-text {
  font-weight: 600;
}

.link-teal {
  color: $materialTeal !important;
  &:hover {
    text-decoration: none;
    color: darken($materialTeal, 20%) !important;
  }
  &:active {
    text-decoration: none;
    color: darken($materialTeal, 35%) !important;
  }
}