<ui:composition template="/WEB-INF/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:define name="title">Απαγορεύεται η πρόσβαση</ui:define>
    <ui:define name="content">
        <div class="container-fluid dark-jumbotron" id="access-denied-page">
            <div class="container">
                <h:link styleClass="btn btn-default btn-teal" outcome="/index">
                    <i class="fa fa-arrow-circle-left"/>&#160;
                    Επιστροφή στην αρχική
                </h:link><br/>
                <div class="row top25">
                    <div class="well-3d text-center col-md-offset-3 col-md-7 container panel-msg-container-red"
                         role="alert">
                        <div class="row text-msg bottom30">
                            <i class="fa fa-ban text-right fa-border pull-left msg-icon" />&#160;<br/>
                            <strong>Απαγορεύεται η πρόσβαση</strong><br/><br/><br/>
                            <span class="top30">
                            Δυστυχώς, δεν έχετε τα απαραίτητα δικαιώματα για πρόσβαση στην σελίδα που προσπαθήσατε</span>
                        </div>
                        <div class="row text-msg">
                            <span><strong class="text-center center-block top30 bottom10">Ευχαριστούμε!</strong></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h:outputScript name="js/vendor/jquery-1.11.0.min.js"/>
    </ui:define>
</ui:composition>

