<ui:composition template="WEB-INF/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:define name="title">Αρχική</ui:define>
    <ui:define name="content">
        <div class="jumbotron dark-jumbotron">
            <div class="container">
                <h1>Νιώσε σαν στο σπίτι σου</h1>
                <p>Μέσα από την εφαρμογή αυτή θα βρεις το σπίτι που θα σε συνοδεύσει σε όλες σου τις σημαντικές στιγμές</p>
                <p><h:link styleClass="top17 btn btn-primary btn-teal btn-lg" role="button" value="Εγγραφή" outcome="/register"/></p>
            </div>
        </div>
        <div class="container">
            <div class="row text-center">
                <h3>Ξεκίνησε να χρησιμοποιείς την εφαρμογή <b>άμμεσα</b> διαλέγοντας τον ρόλο που σου ταιριάζει</h3>
            </div>
            <div class="row top30">
                <div class="col-md-offset-2 col-md-9">
                    <div class="panel panel-teal home-panels">
                        <div class="panel-heading ">
                            <h3 class="panel-title text-center"><b>Ενοικιαστής</b> είτε <b>αγοραστής</b></h3>
                        </div>
                        <div class="panel-body text-center">
                            <span class="panel-header">
                                Βρες γρήγορα το σπίτι που θα ανταποκριθεί στις ανάγκες σου για ένα μήνα, ένα χρόνο, μια ζωή!
                            </span>
                            <br/>
                            <br/>
                            <span class="panel-body-text">
                                Σου παρέχουμε όλες τις πληροφορίες που χρειάζεσαι, όπως αποστάσεις από το μετρό, σε έναν
                            διαδραστικό χάρτη, φωτογραφίες του οικήματος και πολλά άλλα
                            </span>
                            <h:form class="form">
                                <div class="btn-group btn-group-justified top25">
                                    <h:commandLink value="Ενοικιαστής" styleClass="btn btn-default" action="/register">
                                        <f:param name="role" value="lessee"/>
                                    </h:commandLink>
                                    <h:commandLink value="Αγοραστής" styleClass="btn btn-default" action="/register">
                                        <f:param name="role" value="buyer"/>
                                    </h:commandLink>
                                </div>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row top30">
                <div class="col-md-offset-2 col-md-9">
                    <div class="panel panel-brown home-panels">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center"><b>Εκμισθωτής</b> είτε <b>πωλητής</b></h3>
                        </div>
                        <div class="panel-body text-center">
                            <span class="panel-header">
                                Θέλεις να ενοικιάσεις ή να πουλήσεις κάποια από τις οικίες ή διαμερίσματα σου?
                            </span>
                            <br/>
                            <br/>
                            <span class="panel-body-text">
                                Μπορείς εύκολα να προσθέσεις φωτογραφίες, την τοποθεσία του σπιτιού στον χάρτη και τα υπόλοιπα
                            τα αναλαμβάνουμε εμείς!
                            </span>
                            <h:form>
                                <div class="btn-group btn-group-justified top25">
                                    <h:commandLink value="Εκμισθωτής" styleClass="btn btn-default" action="/register">
                                        <f:param name="role" value="lessor"/>
                                    </h:commandLink>
                                    <h:commandLink value="Πωλητής" styleClass="btn btn-default" action="/register">
                                        <f:param name="role" value="salesman"/>
                                    </h:commandLink>
                                </div>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h:outputScript name="js/vendor/jquery-1.11.0.min.js"/>
    </ui:define>
</ui:composition>

