<ui:composition
        template="/WEB-INF/templates/layout.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <ui:define name="title">Σύνδεση</ui:define>
    <ui:define name="content">
        <div class="jumbotron dark-jumbotron">
            <div class="container">
                <h:link styleClass="btn btn-default btn-teal bottom10" outcome="/index">
                    <i class="fa fa-arrow-circle-left"/>&#160;
                    Επιστροφή στην αρχική
                </h:link>
                <h:form class="form-horizontal top30" id="login">
                    <f:event listener="#{userStateBean.getMessages}" type="preRenderView" />
                    <fieldset>
                        <!-- Form Name -->
                        <legend style="text-align: center; color: white" class="login-form-name" >Σύνδεση</legend>

                        <div class="row">
                            <div class="text-center col-md-12 col-sm-12 center-block">
                                <p:messages id="error-messages" autoUpdate="true" closable="true" />
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row has-feedback has-feedback-left">
                            <h:outputLabel class="col-md-4 control-label" for="username">Όνομα χρήστη</h:outputLabel>
                            <div class="col-md-4">
                                <h:inputText id="username" name="username" pt:placeholder="εισάγετε το όνομα του χρήστη σας"
                                             class="form-control input-md" required="true" value="#{userStateBean.username}"
                                             title="Εισάγετε το όνομα χρήστη με το οποίο κάνατε εγγραφή"
                                             requiredMessage="Το όνομα χρήστη είναι απαραίτητο για την σύνδεση σας στο σύστημα"
                                             type="text"/>
                                <i class="form-control-feedback fa fa-user color-materialBrown"/>
                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group row has-feedback has-feedback-left">
                            <h:outputLabel class="col-md-4 control-label" for="password">Κωδικός χρήστη</h:outputLabel>
                            <div class="col-md-4">
                                <h:inputSecret id="password" name="password" pt:placeholder="γράψτε τον κωδικό σας"
                                               class="form-control input-md" required="true" value="#{userStateBean.password}"
                                               title="Ο κωδικός σας είναι απαραίτητος για την ταυτοποίησή σας στο σύστημα"
                                               requiredMessage="Ο κωδικός είναι απαραίτητος για την σύνδεση σας στο σύστημα"
                                               type="password"/>
                                <i class="form-control-feedback fa fa-lock color-materialBrown"/>
                            </div>
                            <div class="col-md-3 top5">
                                <h:commandLink value="Ξέχασατε τον κωδικό σας?" action="#{userStateBean.resetPassword}"
                                               styleClass="color-materialBrownLight"/>
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group row">
                            <div class="text-center center-block">
                                <h:commandButton value="Σύνδεση" styleClass="btn btn-success btn-teal"
                                                 action="#{userStateBean.login}" update="login"/>
                            </div>
                        </div>

                        <!-- Links to Register/Forgot password -->
                        <div class="form-group row text-center top30">
                            <h:link value="Δεν έχετε λογαριασμό? Κάντε εγγραφή εδώ" outcome="register"
                                    styleClass="color-materialBrownLight"/>
                        </div>
                    </fieldset>
                </h:form>
            </div>
        </div>
        <h:outputScript name="js/vendor/jquery-1.11.0.min.js"/>
    </ui:define>
</ui:composition>

