<ui:composition
        template="/WEB-INF/templates/layout.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <ui:define name="title">Εγγραφή</ui:define>
    <ui:define name="content">
        <h:form rendered="#{not userStateBean.isLoggedIn()}">
            <div class="jumbotron">
                <div class="container">
                    <h:link styleClass="btn btn-primary btn-teal" outcome="/index">
                        <i class="fa fa-arrow-circle-left"/>&#160;
                        Επιστροφή στην αρχική
                    </h:link>
                    <h:form class="form-horizontal" id="login">
                        <fieldset>

                            <!-- Form Name -->
                            <legend style="text-align: center">Εγγραφή</legend>

                            <div class="row">
                                <div class="text-center col-md-12 col-sm-12 center-block">
                                    <p:messages id="error-messages" autoUpdate="true" closable="true" />
                                </div>
                            </div>

                            <h5 style="text-align: center">
                                    <span class="important-msg">
                                        Τα πεδία με * είναι υποχρεωτικά
                                    </span>
                            </h5>

                            <!--codes-->
                            <div class="subtilte">
                                <h3>Στοιχεία σύνδεσης</h3>
                            </div>

                            <!-- username input-->
                            <div class="form-group row has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" for="username"><i class="fa fa-asterisk color-materialRed"/>
                                    Όνομα χρήστη </h:outputLabel>
                                <div class="col-md-3">
                                    <p:inputText id="username" value="#{userRegisterView.userInfo.user.username}" label="username"
                                         required="true"
                                         title="Εισάγετε το όνομα χρήστη με το οποίο θέλετε να κάνετε εγγραφή"
                                         requiredMessage="Το όνομα χρήστη είναι υποχρεωτικό για την εγγραφή σας."
                                         type="text">
                                        <f:validator validatorId="validators.UsernameValidator" />
                                    </p:inputText>
                                </div>
                            </div>

                            <!-- Password input-->
                            <div class="form-group row top1 has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" for="confirm_password"><i class="fa fa-asterisk color-materialRed"/>
                                    Κωδικός</h:outputLabel>
                                <div class="col-md-3">
                                    <p:password id="password" value="#{userRegisterView.userInfo.user.password}"
                                        feedback="true" inline="true"
                                        promptLabel="Παρακαλώ εισάγεται κωδικό πρόσβασης" weakLabel="Αδύναμος"
                                        goodLabel="Μέτριος" strongLabel="Δυνατός" required="true"
                                        label="Κωδικός"
                                        title="Εισάγετε το κωδικό με το οποίο θέλετε να κάνετε εγγραφή"
                                        requiredMessage="Ο κωδικός είναι υποχρεωτικός για την εγγραφή σας."
                                        type="text">
                                        <f:validator validatorId="validators.PasswordValidator"/>
                                    </p:password>
                                </div>
                            </div>

                            <!--Confirm Password input-->
                            <div class="form-group row top1 has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" for="confirm_password"><i class="fa fa-asterisk color-materialRed"/>
                                    Επιβεβαίωση κωδικού</h:outputLabel>
                                <div class="col-md-3">
                                    <p:password id="confirm_password" value="#{userRegisterView.userInfo.confirmPassword}"
                                        label="Επιβεβαίωση κωδικού" required="true"
                                        title="Εισάγετε το κωδικό σας ξανά για επιβεβαίωση"
                                        requiredMessage="Εισάγετε το κωδικό σας ξανά για επιβεβαίωση."
                                        type="text">
                                        <f:validator validatorId="validators.ConfirmPasswordValidator"/>
                                    </p:password>
                                </div>
                            </div>

                            <!--names-->
                            <div class="subtilte">
                                <h3>Προσωπικά στοιχεία</h3>
                            </div>

                            <!-- name input-->
                            <div class="form-group row has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" for="name" value="Όνομα" />
                                <div class="col-md-3">
                                    <p:inputText id="name" value="#{userRegisterView.userInfo.name.name}" label="name">
                                        <f:validator validatorId="validators.NameValidator"/>
                                    </p:inputText>
                                </div>
                            </div>

                            <!-- surname input-->
                            <div class="form-group row has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" for="surname" value="Επίθετο" />
                                <div class="col-md-3">
                                    <p:inputText id="surname" value="#{userRegisterView.userInfo.name.surname}" label="surname">
                                        <f:validator validatorId="validators.SurnameValidator"/>
                                    </p:inputText>
                                </div>
                            </div>

                            <!-- father's name input-->
                            <div class="form-group row has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" for="father" value="Πατρώνυμο" />
                                <div class="col-md-3">
                                    <p:inputText id="father" value="#{userRegisterView.userInfo.name.father}" label="father">
                                        <f:validator validatorId="validators.FatherValidator"/>
                                    </p:inputText>
                                </div>
                            </div>

                            <!--communication-->
                            <div class="subtilte">
                                <h3>Στοιχεία επικοινωνίας</h3>
                            </div>

                            <!--e-mail-->
                            <div class="form-group row has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" for="email"><i class="fa fa-asterisk color-materialRed"/>
                                    E-mail</h:outputLabel>
                                <div class="col-md-3">
                                    <p:inputText id="email" value="#{userRegisterView.userInfo.communication.eMail}" label="pattern"
                                                 required="true"
                                                 title="Εισάγετε το email σας με το οποίο θα είναι δυνατή η επικοινωνία μαζί σας."
                                                 requiredMessage="Το email σας είναι υποχρεωτικό για την δυνατότητα επικοινωνίας μαζί σας."
                                                 type="text">
                                        <f:validator validatorId="validators.EmailValidator" />
                                    </p:inputText>
                                </div>
                            </div>

                            <!--phone-->
                            <div class="form-group row has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" for="phone" value="Σταθερό" />
                                <div class="col-md-3">
                                    <p:inputMask id="phone" value="#{userRegisterView.userInfo.communication.telephone}"
                                                 label="phone" mask="999-999-9999">
                                        <f:validator validatorId="validators.TelephoneValidator"/>
                                    </p:inputMask>
                                </div>
                            </div>

                            <!--mobile-->
                            <div class="form-group row has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" for="mobile" value="Κινητό" />
                                <div class="col-md-3">
                                    <p:inputMask id="mobile" value="#{userRegisterView.userInfo.communication.mobile}"
                                                 label="mobile" mask="999-999-9999">
                                        <f:validator validatorId="validators.MobileValidator"/>
                                    </p:inputMask>
                                </div>
                            </div>

                            <!--users-->
                            <div class="subtilte">
                                <h3>Ρόλοι Χρηστών</h3>
                            </div>

                            <div class="form-group row has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" value="Αγοραστής" />
                                <div class="col-md-3">
                                    <p:selectBooleanCheckbox value="#{userRegisterView.userInfo.isBuyer}" />
                                </div>
                            </div>

                            <div class="form-group row has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" value="Εκμισθωτής" />
                                <div class="col-md-3">
                                    <p:selectBooleanCheckbox value="#{userRegisterView.userInfo.isLessor}" />
                                </div>
                            </div>

                            <div class="form-group row has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" value="Πωλητής" />
                                <div class="col-md-3">
                                    <p:selectBooleanCheckbox value="#{userRegisterView.userInfo.isSalesman}" />
                                </div>
                            </div>

                            <div class="form-group row has-feedback has-feedback-left">
                                <h:outputLabel class="col-md-5 control-label" value="Ενοικιαστής" />
                                <div class="col-md-3">
                                    <p:selectBooleanCheckbox value="#{userRegisterView.userInfo.isLessee}" />
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="form-group row top1">
                                <div class="text-center center-block">
                                    <h:commandButton value="Εγγραφή" styleClass="btn btn-teal"
                                                     action="#{userRegisterView.register}" update="register" outcome="/index"/>
                                </div>
                            </div>
                        </fieldset>
                    </h:form>
                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>

