<ui:composition template="/WEB-INF/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:define name="title">Επιτυχής εγγραφή</ui:define>
    <ui:define name="content">
        <div class="container-fluid dark-jumbotron" id="access-denied-page">
            <div class="container">
                <div class="row">
                    <h:link styleClass="btn btn-default btn-teal" outcome="/index">
                        <i class="fa fa-arrow-circle-left"/>&#160;
                        Επιστροφή στην αρχική
                    </h:link>
                </div>
                <div class="row top30">
                    <div class="well-3d text-center col-md-offset-3 col-md-7 container panel-msg-container-brown"
                         role="alert">
                        <div class="row text-msg bottom30">
                            <i class="fa fa-info text-right fa-border pull-left msg-icon"/>&#160;<br/>
                            <strong>Η αίτηση εγγραφής σας έχει ήδη ολοκληρώθει επιτυχώς!</strong><br/><br/>
                            <span class="top30">
                            Θα χρειαστεί όμως να περιμένετε μέχρι το αίτημα σας να γίνει αποδεκτό απο το διαχειριστή!</span>
                        </div>
                        <div class="row text-msg">
                            <span><strong class="text-center center-block top30 bottom10">Ευχαριστούμε!</strong></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h:outputScript name="js/vendor/jquery-1.11.0.min.js"/>
    </ui:define>
</ui:composition>